[2014-11-22 17:35] justin808 opened #1 "Need to add Capybara Feature tests"
[Capybara](https://github.com/jnicklas/capybara) RSpec feature tests can be used to verify the UI.

I've heard that phantomJs may have issues with ReactJs. If so, then we should use WebKit or Selenium.

[2014-11-22 17:40] justin808 opened #2 "Use Server Side Rendering"
ReactJs supports server side rendering. The [react-rails gem](https://github.com/reactjs/react-rails). Let's make this example also demonstrate how to do that.

[2014-12-20 19:30] eliotsykes opened #4 "Loosen up ruby version requirement?"
The ruby version specified in the Gemfile is `2.1.3`. I've installed 2.1.3 to get started, however this may be a barrier to potential contributors. Suggestions:

- Remove the ruby version from `Gemfile`
- Use an env var:
[code]
- Leave as is

[2014-12-20 21:50] justin808 opened #7 "Image path needs to go into the bootstrap loader config file"
If you refer to images in the bootstrap-loader files, they are not found because there's no default for the image path.

We need to uncomment this line in

https://github.com/justin808/react-webpack-rails-tutorial/blob/master/webpack/bootstrap-sass.config.js

[code]

And it needs to contain the imagePath like this:

https://github.com/justin808/react-webpack-rails-tutorial/blob/master/webpack/webp

[2014-12-20 22:05] justin808 opened #8 "Custom Fonts Need Example"
When using custom fonts, there's an issue in that the sass helper font-url does not work with lib-sass.

The only way I've found around this is to have different files loaded for the boostrap-customization for each of the Rails and Webpack parts, and have these call bootstrap-customization-common.scss
# Change Webpack File

This file needs to refer to a file that is webpack specific, like "boostra

[2014-12-21 22:34] #7 closed, assigned to nobody

[2014-12-22 21:09] #8 closed, assigned to nobody

[2014-12-30 01:39] justin808 opened #9 "Need to add example of JS Testing"
1. What JS testing framework should we use?
2. What other projects could be examples? How about the testing setup here: https://github.com/rackt/react-router

Let's get some simple JS tests that show how this can minimize the need for capybara tests of the ReactJS components.

[2015-01-23 16:34] kimagure commented on #9
I'd like to chime in just to say that I've been using Jest for a while with my react/webpack application living inside a rails project, and it is really awful. The tests take a long time to run, the errors are not very useful, the test environment barely acts like a real browser, the amount of setup required to get the Jest environment set up is ridiculous, and, most importantly, the documentation

[2015-01-28 19:53] justin808 opened #10 "Move package.json to inside webpack directory"
We can have a top level package.json that loads the /webpack/package.json.

This keeps the top level tidier.

From Heroku support:

I agree - as long as an extra root-level package.json is okay with you, it's probably a better bet to just use the officially supported buildpack. You can trigger sub-installs like this (in package.json):

[code]

Also, I'd love to get your feedback on how that works

[2015-02-01 10:58] onemanstartup commented on #9
@kimagure thank you for such information.
I just start with react, but I think mocha with konacha is obvious choice :)

[2015-02-05 08:38] #4 closed

[2015-02-05 08:40] justin808 opened #13 "Add demonstration with Flux"
We could have a simple example of using flux to manage the data of the comments.

http://facebook.github.io/flux/docs/overview.html#content

This is *the way* I handle UIs. I do not use direct JSON calls from the react components.

[2015-02-07 19:31] justin808 opened #14 "Consider Having Development Rails Load Assets from the Webpack Dev Server"
There's some techniques in this article that are worth exploring.

http://kevinold.com/2015/02/04/configure-webpack-dev-server-and-react-hot-loader-with-ruby-on-rails.html

[2015-02-19 08:23] nambrot commented on #2
Hey, I just stumbled upon your tutorial as I have been meaning to try something similar. I think the Rails + React + Hot Loading + SSR would be absolutely killer if it can be configured without too much pain. Have you been able to make any progress towards this issue? It looks like we should take a closer look to `react_ujs` and the `render_component` view helper

[2015-02-19 08:30] justin808 commented on #2
Hi! We've got a small group of like minded folks chatting on Slack every day about this technology setup. However, we're all busy on other client projects as well. If you could try to see you could make this work, that would be awesome! Email me directly if you wish.

[2015-02-19 08:32] nambrot commented on #2
I will see what I can do

[2015-03-02 01:11] acurry commented on #9
@justin808 I recommend konacha as well. It integrates nicely with sprockets and is easy enough to configure and get up and running with minimal fuss. The in-browser environment is more than suitable for interactive TDD, and the command-line runner works just right.

Right now I'm trying to figure out how to integrate konacha with webpack, via [webpack_assets](https://github.com/knomedia/webpack_as

[2015-03-07 21:15] justin808 opened #16 "Add linting and consider npm-standard"
Linting
==============
https://medium.com/@dan_abramov/lint-like-it-s-2015-6987d44c5b48

Npm Standard
===================
https://www.npmjs.com/package/standard

[2015-03-17 00:31] zepplock commented on #2
Any progress on this?

[2015-03-17 01:33] justin808 commented on #2
I have not tried. I think that in order to make this work the logic of loading only from the REST apis would have to get modified so the entire rendering could happen synchronously.

[2015-03-17 03:28] nambrot commented on #2
I'm currently on it though admittedly I'm doing it outside the scope of
this project as I wanted some different defaults. ( reuse asset pipeline
e.g)

Rendering the component is actually not the hardest part, it's much more
about how you handle client state in general. I.e you'll generally end up
needing a state manager like flux and how you server render flux isn't well
established yet.

I'm curr

[2015-03-17 03:43] zepplock commented on #2
I think a great solution would be is to have this codebase enhanced with 

- alt (flux implementation) and still support server side rendering. 

- a nicer basic UI like bootstrap would help too. 

- something to show login/logout, basic user management. Preferably on top of devise since it's very popular in rails

[2015-03-17 03:46] nambrot commented on #2
Totally agreed. It just becomes quite complex in nature. I was initially
planning on doing it but it's just too much work

On Monday, March 16, 2015, Vladimir Reshetnikov <notifications@github.com>
wrote:

[2015-03-19 03:50] bdefore opened #18 "Document that non-production builds will create large bundle files"
Maybe because I'm just familiarizing myself with webpack, but I had to dig around for a while wondering why a very minimal project was generating a 4.5MB bundle.js and noticed that it was due to webpack.rails.config.js setting devtools to "eval-source-map" (which brought that down to 500kb).

[2015-03-19 04:07] justin808 commented on #18
@bdefore I'm pretty sure this doesn't happen on production.

[2015-03-19 05:31] bdefore commented on #18
Yes, the flag is there to only activate when there is a build pack
configured. But I think it's easy to miss and hard to diagnose.

On Wednesday, March 18, 2015, Justin Gordon <notifications@github.com>
wrote:

[2015-03-19 05:41] justin808 commented on #18
@bdefore Correct. When the build pack is configured, no map is created.

[2015-03-19 05:41] #18 closed

[2015-03-19 16:59] bdefore commented on #10
I decided to try this out and it works without many changes. My Procfile.dev became:
[code]
(not that i renamed 'webpack' dir to 'client')

Overall I'm much happier with the separation, with dependencies defined and installed relative to client. It also has the benefit of making it more straightforward for porting this process over to an existing rails setup, since you could just copy over the 'cl

[2015-03-19 17:19] justin808 commented on #10
@bdefore Awesome. One advantage of the name client is that if you use zsh and type webpack to switch directories, well, webpack is a exe. If you can submit a PR, I'll get that integrated. Otherwise, @mbreining  or I will try to change it shortly.

[2015-03-23 00:45] justin808 commented on #10
I'm creating this change. @bdefore I'll notify you so that you might be able to comment on the PR.

[2015-03-23 05:28] justin808 commented on #10
@bdefore If you get a chance, please review Pull request #19.

[2015-03-23 10:46] bdefore commented on #10
@justin808 i've left a couple notes but overall looks like what i'd expect. you'll also want to update your blog post references to 'webpack' directory since that may be how people come to find your tutorial.

[2015-03-27 04:37] justin808 opened #21 "Can't run feature tests -- problem and answer"
If you get the message below when running rspec, then you'll want to check if you have qt-4.x installed. You need at least qt-5 installed.

[code]
Check the output.

Install qt5
[code]

Then you need to

[code]

**IMPORTANT** Be sure that the path indicated for the QMAKE corresponds to a correct path.

Then run

[code]

and you should see the tests have passed.

Here's the full error:

[code]

[2015-03-27 04:37] #21 closed

[2015-03-28 01:03] justin808 commented on #1
Closed by #20. Thanks @Dgrafmyre!

[2015-03-28 01:04] justin808 commented on #10
Closed by #19.

[2015-03-28 01:04] #10 closed

[2015-03-28 01:04] justin808 commented on #13
This looks like a nice example and setup of using Flux: https://github.com/formidablelabs/biff and this looks like a good way to set this up: https://github.com/kenwheeler/biff-boilerplate/blob/master/package.json. Any opinions on if I should adopt these in my https://github.com/justin808/react-webpack-rails-tutorial/?

[2015-03-28 01:07] justin808 commented on #16
Looking into either ESLint or JSHint, maybe with "standard"....

[2015-03-28 01:07] #1 closed

[2015-03-28 01:08] justin808 opened #22 "Add example of React-Native client"
Any thoughts on how to incorporate react-native into this tutorial?

http://facebook.github.io/react-native/

[2015-03-28 02:22] justin808 commented on #13
Another option is: https://github.com/goatslacker/alt. @bdefore recommended it.

[2015-03-30 01:41] justin808 opened #23 "Add eslint and code inspection"
Stay tuned...About to submit the PR on this...

[2015-03-30 01:45] justin808 opened #24 "Pull ideas from other react-webpack starter kits"
Placeholder for sources of inspiration.

This one has some good stuff:

https://github.com/kriasoft/react-starter-kit

@mbreining Thoughts?

[2015-03-30 04:46] mbreining commented on #13
Start integrating Alt. See https://github.com/justin808/react-webpack-rails-tutorial/tree/feature/flux_integration

[2015-04-14 13:10] nambrot commented on #2
Hey guys, after tinkering a bit, I unfortunately wasn't able to incorporate my work into this repo, but for anyone's interested in making SSR work, I created this example https://github.com/nambrot/rails-webpack-react-flux. Dealing with node was quite a pain.

[2015-04-27 17:48] justin808 commented on #16
Linting is done. Not using npm standard for now. Using the airbnb js guide: https://github.com/airbnb/javascript/blob/master/linters/.eslintrc

[2015-04-27 17:48] #16 closed

[2015-04-27 17:54] justin808 commented on #13
Fixed with #28

[2015-04-27 17:54] #13 closed

[2015-04-27 17:54] justin808 commented on #23
Fixed with #30, #29, #26, #25

[2015-04-27 17:55] #23 closed

[2015-04-27 17:56] justin808 commented on #24
So far, I haven't seen anything jumping out. Closing this issue. We'll open a specific issue if we see something useful.

[2015-04-27 17:57] #24 closed

[2015-04-27 17:58] justin808 opened #31 "Add scss-lint"
Started using scss-lint on another project. No reason not to include it.

[2015-05-21 06:54] justin808 opened #35 "comments right now accept image tags"
Somebody put in this comment at

http://www.reactrails.com/

[code]

@mbreining we need to change the demo so that that HTML tags are stripped. In fact, they might be and this may have been entered on the rails side. In any case, any HTML tags should be escaped before display.  @Dgrafmyre you can take a quick look at this as well. Might be fun to fix.

![railsreacttutorial](https://cloud.githubuse

[2015-05-21 16:28] justin808 opened #36 "Alt Question: Code in actions"
@mbreining Question on what code goes into the actions...

https://github.com/justin808/react-webpack-rails-tutorial/blob/master/client/assets/javascripts/actions/FormActions.js#L23

Should dispatching happen after callbacks handled?

@goatslacker, any opinion on how much code goes into actions vs. is activated by listening?

![formactions_js_-_react-rails-tutorial_-____j_react_react-webpack-rails

[2015-05-21 17:23] justin808 opened #37 "Tests are insufficient for JS code"
See below image.

If you make an intentional typo, I'd like to see some JS tests pass.

Incidentally, this is caught nicely by the rspec tests.

![hello_react](https://cloud.githubusercontent.com/assets/1118459/7754529/0a59835e-ff89-11e4-8822-db43acb5cd44.jpg)

![3__default__justin_justinmbp-2___rvm_project_path__zsh_](https://cloud.githubusercontent.com/assets/1118459/7754596/96a6b746-ff89-11e4-8

[2015-05-21 17:28] mbreining commented on #36
@justin808 I think this is the right sequence. We want to dispatch first so that we can display a spinner image while the comment gets submitted - for example.

[2015-05-21 17:31] goatslacker commented on #36
This looks correct you want to dispatch to signify "loading" and then other actions would kick off for success/fail

[2015-05-21 17:49] justin808 commented on #36
Sweet! Thanks @mbreining and @goatslacker

[2015-05-21 17:49] #36 closed

[2015-05-21 20:36] justin808 commented on #31
Already done.

[2015-05-21 20:36] #31 closed

[2015-05-21 20:39] justin808 opened #38 "Convert application header across Rails and React parts to use ReactJs"
Right now, there's the Rails view and the React View.

Let's see what this would look like if we convert the header to use react-router. Then maybe we can have seamless integration between the Rails only parts and the ReactJs parts.

@ben-ward, want to take a look at this? I can help.

[2015-05-26 03:14] justin808 opened #39 "Try out with Zurb Foundtion"
Seems that Twitter Bootstrap is going to be a while before it supports flexbox.

So let's try out Zurb! I'm thinking a fork of this project, but it may not get merged into master. Instead, we can have a branch master-zurb for the zurb version.

* http://foundation.zurb.com/
* http://webrafter.com/opensource/react-foundation-apps
* http://react.rocks/example/react-foundation-apps

[2015-05-26 03:31] justin808 commented on #35
![railsreacttutorial](https://cloud.githubusercontent.com/assets/1118459/7804803/e313fd6e-0303-11e5-9ddb-0008c8c5764a.jpg)

[2015-05-26 03:38] justin808 commented on #35
Deleted the offending records by running this in the console.

    Comment.where("text like '%<%'").delete_all

However, the comment field should store anything in there.

Need to fix the ReactJs code so that it sanitizes the html tags before displaying them.

[2015-05-26 13:18] joseluistorres commented on #39
@justin808 I can help with that

[2015-05-26 15:01] justin808 commented on #39
@joseluistorres Awesome! I'll help as well!

[2015-05-26 21:00] joseluistorres commented on #39
@justin808 ok I forked the repo and have it running locally with everything, hot module it's amazing, should I start with a branch using only the foundation stuff? or moving straight to use react-foundation-apps ?

[2015-05-26 21:03] justin808 commented on #39
Yes on branch using foundation. Sure, try out react foundation apps. I'm not sure if that is the way to go. Looking for advice.

[2015-05-26 21:07] joseluistorres commented on #39
ok copy that!

[2015-05-29 13:33] joseluistorres commented on #39
I found a way testing this:
http://foundation.webrafter.com/blog/2015/1/5/getting-started-with-react-foundation-apps
https://github.com/akiran/generator-react-foundation-apps
I'm going to check to can integrate it to the existing stuff.

[2015-05-31 01:44] justin808 commented on #39
@joseluistorres, @dpindrys (David) would like to collaborate with you on figuring out how to make this work with react, webpack, and Rails.

[2015-05-31 03:19] justin808 commented on #39
@joseluistorres, is this helpful? http://www.angularonrails.com/ruby-on-rails-angularjs-single-page-application/

Yes, it's angular, but maybe some of the techniques? But maybe not since we're using React with Webpack. A tutorial in this area is definitely needed!

[2015-06-01 14:43] joseluistorres commented on #39
hi @dpindrys let's do this! , I'll take a look at that too @justin808 thanks!

[2015-06-12 13:21] codejet commented on #2
As @nambrot wrote that he doesn't recommend the approach he came up with in his experiment, did someone else maybe got pre-rendering to work in a nice way with the setup of this tutorial?

[2015-06-14 20:47] justin808 commented on #2
@jbhatab, @ben-ward, it would still be interesting to see if we could make this work.

[2015-07-04 14:10] hampei opened #40 "cd in procfile not working for me"
When trying to run the Procfile.dev it couldn't complain

[code]

Looks like foreman 0.78.0 doesn't handle cd's, no idea why.
I got it working by changing the Procfile to this:

[code]

[2015-07-04 17:30] justin808 commented on #40
Thanks for the heads up.

[2015-07-04 20:08] justin808 commented on #40
@hampei Please see #41. Can you give me a :+1: ?

[2015-07-05 21:51] justin808 opened #42 "Add Codeship CI integration"
https://travis-ci.org/

Setting this up!

[2015-07-05 23:23] justin808 commented on #42
Anybody knowledgeable about setting up multi-language Travis? @mbreining?

[2015-07-06 00:25] justin808 commented on #42
Seems to be a couple ways to do this with 2 languages.

1. this is how to install a gem in `before_install` -- maybe we could do this for npm files? http://stackoverflow.com/a/21761205/1009332
2. Have the rake task for running the tests build the webpack `../app/assets/javascripts/generated/client-bundle.js'`

[2015-07-06 19:15] justin808 commented on #42
@mbreining @dylangrafmyre We'll probably use Codeship, as that's what we're using on a similar project so we know how to set it up.

[2015-07-07 13:15] DavydenkovM commented on #14
Thanks for you guide, it is very helpful!

But what about this issue? Is there any way to configure rails server to understand notifications emitted by Webpack Development server.

I don't understand how to explain rails to send requests for updated assets. Do I need to modify manifest files?

[2015-07-08 19:50] Johnnycus commented on #9
Jasmine looks good, it's BDD test framework which borrowed many RSpec features and syntax.
And as README on github says: Thus it's suited for websites, Node.js projects. I saw a lot of good comments about Jasmine. Also it has "jasmine-jquery" plugin that simplifies JQuery testing.

Jest looks also good for unit testing ReactJS project. It's provided and used by Facebook. Plus six months passed, ma

[2015-07-09 22:47] justin808 commented on #14
Incidentally, so far, we've found that it's not particularly useful to be doing hot-reload with rails. Instead, be testing in node.js mode for prototyping, and using Rails for the full stack. No half and half.

[2015-07-09 22:47] #14 closed

[2015-07-13 18:01] justin808 commented on #2
I'm going to work on this later today.

https://github.com/reactjs/react-rails/issues/301

[2015-07-14 02:50] nikhilbaradwaj commented on #2
Here's my first attempt at getting server-side rendering to work -
https://github.com/nikhilbaradwaj/react-webpack-rails-tutorial/tree/server-rendering

I forked from this repo and created a branch for experimenting with this. I use the react-rails gem. It seems to work. However, I am sure there are cases that still needs to be handled.

[2015-07-14 07:48] justin808 commented on #2
I ran into this case: https://github.com/reactjs/react-rails/issues/319

@nikhilbaradwaj You seem to be using the react-rails jsx processing. I want to leave all that stuff to webpack.

[2015-07-14 14:48] nikhilbaradwaj commented on #2
Everything is compiled by Webpack. You can comment out all the config for react-rails compilation and I think it will still work. components.js only points to an already compiled client-bundle.js.

Regarding the issue you ran into - The react-rails readme has the following note under server-side rendering section-
"Your code can't reference document. Prerender processes don't have access to docume

[2015-07-14 18:22] justin808 commented on #2
@nikhilbaradwaj We can probably screen share (screen hero). My email is listed on my profile.

[2015-07-14 19:35] codejet commented on #2
@nikhilbaradwaj you can put calls to methods which access the DOM into ```componentDidMount``` to avoid pre-rendering to fail. That worked for me.

[2015-07-14 20:24] nikhilbaradwaj commented on #2
@justin808 Sure, I'll be online tonight between 10pm - 12am EST. Thanks.

[2015-07-16 04:34] geminiyellow commented on #42
+1 i need this help.

[2015-07-16 08:27] justin808 commented on #42
@dylangrafmyre Just set us up with codeship...

Dylan, we should write a quick article on how to do this!

[2015-07-16 08:27] #42 closed

[2015-07-20 17:53] #40 closed

[2015-07-20 17:56] justin808 commented on #39
@joseluistorres @dpindrys @ben-ward  I'm feeling that we close this for now unless there's any good reason to investigate this further now.

[2015-07-20 18:10] joseluistorres commented on #39
I believe so, imho it seems that this would need to be two separate apps, front-end and backend, perhaps will be out of the scope of the existing example with react-rails-webpack :flushed:

[2015-07-20 18:11] justin808 commented on #39
My original main goal was figuring out the strategy in terms of flex-box, since zurb seemed to support that. So closing for now. If anybody wants to re-open, let me know.

[2015-07-20 18:12] justin808 opened #49 "Small UI enhancements"
Live deployment is at http://www.reactrails.com/

1. Rake task to delete all comments older than one day (couple different options, such as scheduled running of rake task). Provide instructions on how to setup in Heroku Scheduler.
3. Note that comments older than 24 hours deleted.

@johnnycus will work on this.

[2015-07-20 18:15] justin808 opened #50 "Test out Using Dan Abramov's Redux with this Tutorial"
Let's see if using Redux is better than Alt

https://medium.com/@dan_abramov/the-evolution-of-flux-frameworks-6c16ad26bb31

https://github.com/gaearon/redux

[2015-07-20 18:26] Johnnycus commented on #49
@justin808 👍

[2015-07-21 11:48] geminiyellow opened #51 "Break out jquery from jquery-ujs: How to use webpack complete managed javascript library"
hello @justin808 , thanks for your work.
i dont want to use javascript library gem. e.g.
`jquery-rails`, `bootstrap-sass` in Gemfile.
follow you guide, i can import jquery from webpack's bundle file.
but when i remove `bootstrap-sass`, i can not `@import 'bootstrap'` in
`app/assets/stylesheets`, could you give me a example about this?

[2015-07-24 19:01] justin808 opened #52 "nvm 0.12.7 and 0.12.6 have sass issues"
libsass has an issue. Maybe there's an update?

[code]
If anybody has a PR that fixes this issue...

Thanks in advance.

## Full message
[code]

[2015-07-24 19:27] justin808 commented on #52
I tried deleting my node modules and reinstalling. There's a deeper issue here.

[code]

[2015-07-24 21:10] adavkay commented on #52
Hey Justin have you tried `npm rebuild node-sass` ?

[2015-07-25 12:09] ssaunier commented on #52
Same problem for me with node `0.12.4`. Also, `npm rebuild node-sass` does not solve the problem.

[2015-07-28 11:01] Johnnycus commented on #52
Same problem with node v0.10.33. npm rebuild node-sass doesn't solve problem. Deleting and reinstalling node_modules works, but only for first time.

[2015-08-02 01:07] #39 closed

[2015-08-02 01:11] justin808 commented on #52
This is fixed in PR #56. I'd love some help getting the tests to pass.

[2015-08-02 01:11] justin808 commented on #50
Sticking with https://github.com/airbnb/javascript

[2015-08-02 01:13] justin808 commented on #38
Seems like the wrong approach to have rails components nested inside of react components.

We're only going to go one way in a Rails container app with small JS apps, that might be react, and coming from the webpack JS file.

[2015-08-02 01:13] #38 closed

[2015-08-02 01:14] justin808 commented on #35
This was fixed and deployed some time ago.

[2015-08-02 01:14] #35 closed

[2015-08-02 01:15] justin808 opened #57 "Document how to setup this sort of project with CodeShip"
@dylangrafmyre Maybe we can document how we set this up with CodeShip?

I'm getting the following issue in #56:

![cursor_and_updated_readme_md_ _justin808_react-webpack-rails-tutorial_ _codeship](https://cloud.githubusercontent.com/assets/1118459/9024247/247e149c-3860-11e5-9d29-8a91593780c3.jpg)

[2015-08-02 01:21] justin808 opened #58 "Help with updating ruby, node, gems, npm"
I'm got a full refresh to all dependencies here: #56.

However, I can't get `rspec` to run:

[code]

[2015-08-02 03:18] dylangrafmyre commented on #58
@justin808 This is an issue when using capybara-webkit. Everything works properly using selenium-webdriver. Rolling back to the to the gemfile.lock, capybara-webkit 1.5.1, from master branch to did not resolve the issue with the failing test.

[2015-08-02 03:49] dylangrafmyre commented on #58
@justin808 Got it to work using Poltergeist and es5-shim-rails gem. Test pass and build succeeded on Codeship. This way we do not have to use selenium-webdriver and Firefox.

[2015-08-08 00:50] #52 closed

[2015-08-08 00:50] justin808 commented on #50
https://github.com/justin808/react-webpack-rails-tutorial/pull/59

[2015-08-08 00:52] justin808 commented on #37
We'll probably use this as an example:

https://github.com/gaearon/redux/tree/breaking-changes-1.0/examples/todomvc/test

CC: @alexfedoseev

[2015-08-08 00:53] justin808 commented on #57
@dylangrafmyre When you get a chance, please submit a PR with some enhancements to docs on how to set this up. We should probably setup loggly as well.

[2015-08-08 00:57] justin808 commented on #51
I'm using jquery-rails because of UJS integration. Possibly post this question at http://forum.railsonmaui.com. You can also submit a PR with an example of how to do this with Webpack. I did this before. While it's straightforward given the webpack docs.

I'd agree that we should breake out the jquery part from the ujs part: https://github.com/rails/jquery-ujs.

@dylangrafmyre if you want to try t

[2015-08-08 00:59] #58 closed

[2015-08-08 01:51] urbanvikingr commented on #51
I assume that you don't want to include jQuery in your bundle.js.

Add this to your WebPack configuration file:

    externals: {
        // require("jquery") is external and available
        //  on the global var jQuery
        "jquery": "jQuery"
    }

More info here: http://webpack.github.io/docs/library-and-externals.html

[2015-08-08 01:53] justin808 commented on #51
@urbanvikingr we'll put jquery in the package.json file, redo the gemfile, export jquery so rails can see it.

A very old version of the config files might still have this in the version history. I had experimented with this a bit.

[2015-08-08 02:04] urbanvikingr commented on #51
@justin808 Export jQuery to Rails sounds interesting. Is this a manual process outside npm or Rails?

[2015-08-08 10:01] justin808 commented on #51
@urbanvikingr: Export jQuery to Rails just means that jQuery is exposed as a global variable. like window.jQuery or window.$

References:

http://www.codefornow.com/2015/05/18/webpack-exposing-jquery-as-a-global-variable/

https://github.com/webpack/expose-loader

[2015-08-08 11:10] alexfedoseev commented on #51
My opinion on subject.

I think the most consistent way is to ask rails team to publish jquery_ujs to npm (they've already published it on bower btw) and move it to webpack's bundle, so all JS stuff can be manage from one place.

@geminiyellow
If you want to manage your JS via webpack, inevitably, you’ll end up with renunciation of assets pipeline, because it'll became useless.

[2015-08-08 18:30] alexfedoseev commented on #37
I'm setting up test env for redux at the moment, will take a look at this right after.

[2015-08-09 03:18] justin808 opened #61 "Better sanitization of markdown"
Currently, some tags still get through.

[2015-08-09 08:58] justin808 commented on #49
Fixed by #62

[2015-08-09 08:59] justin808 commented on #61
Fixed by #62

[2015-08-09 08:59] #61 closed

[2015-08-10 23:31] justin808 commented on #2
We're getting close. This will probably go in with Redux as well.

This is roughly how we're doing it: https://github.com/justin808/react_server_side_rendering_webpack/tree/redux-on-rails-server

[2015-08-11 04:40] geminiyellow commented on #9
@justin808 and now, is some news in here?

[2015-08-11 05:28] justin808 commented on #9
Here's a few links from @alexfedoseev:

https://reactjsnews.com/testing-in-react/
http://brandonokert.com/2015/08/04/TestingInReact/
http://jaketrent.com/post/testing-react-with-jsdom/

[2015-08-11 07:59] codejet commented on #2
Nice!

[2015-08-13 03:39] liyaodong opened #64 "How to get Rails backend data ? like CSRF token or form URL etc ..."
If we don't have view help like react-rails gem, how to get backend data ? pass a window.xxx global javascript variable ? or send a Ajax to backend ? or just write into static jsx file ?

And another question, the page A need Login.jsx component , another page B need Admin.jsx, if all client code has been bundle into one file, how to identify different component on different pages ? or one pages c

[2015-08-13 21:20] justin808 commented on #64
Hi @liyaodong, the example uses this: https://github.com/rails/jquery-ujs and $.ajax. We also use on bundle for the client side application, and check if a div id is on a page, before rendering the react component. It's also possible to put global data on the page. I've often used the https://github.com/gazay/gon for doing that.

Let's take this discussion over to http://forum.railsonmaui.com/ if

[2015-08-13 21:20] #64 closed

[2015-08-19 11:54] maciejmyslinski commented on #2
@justin808 I can't wait!

[2015-08-20 18:00] andresgutgon commented on #2
What about making work React Router + Rails + Webpack?
There is a gem to make work React Router + Rails + Asset pipeline https://github.com/mariopeixoto/react-router-rails

[2015-08-20 18:16] justin808 commented on #2
@samnang and I plan to work on the gem for the rendering this weekend. We're crazy busy on client projects plus a new **AMAZING** startup, also with @alexfedoseev [Medium article on Isomorphic React with Rails](https://medium.com/@alexfedoseev/isomorphic-react-with-rails-part-i-440754e82a59). If any of you know anybody interested in working with these technologies, **get in touch!**

[2015-08-23 16:11] mapreal19 opened #69 "Use `fetch` instead of `ajax` for HTTP requests"
`window.fetch` seems the way to go for http requests.

Resources:
  - https://github.com/github/fetch
  - http://mts.io/2015/04/08/webpack-shims-polyfills/

[2015-08-23 16:45] alexfedoseev commented on #69
Pros:

* Proposed standard compatible.

Cons:

* Client-only -> Second lib for server-side calls.

[2015-08-23 19:30] justin808 commented on #69
@alexfedoseev If we assumed we would not need to make remote calls on the server (rending the JS using Rails engine), then is fetch a better choice?

[2015-08-23 20:11] alexfedoseev commented on #69
Haha, I forgot that we're outside of Node here :sweat_smile:
In this case `fetch` is perfectly ok.

[2015-08-24 09:34] justin808 commented on #2
got it working for a Gem:

https://github.com/shakacode/react_rails_server_rendering/

[2015-08-25 08:24] justin808 commented on #2
Getting close!

I published an alpha version here: https://rubygems.org/gems/react_rails_server_rendering.

Here's the source:
https://github.com/shakacode/react_rails_server_rendering/

[2015-08-25 21:27] justin808 opened #71 "Need to move to service other than heroku for open source demo"
See attached.

<img width="615" alt="cursor_and_your_heroku_app_react-webpack-rails-tutorial_on_free_dynos_needs_to_recharge_-_justin_gordon_gmail_com_-_gmail" src="https://cloud.githubusercontent.com/assets/1118459/9480040/3d73e7c8-4b1c-11e5-930a-080fb570baa2.png">

[2015-08-25 22:07] justin808 commented on #71
Here's how we could create a deploy button for heroku:

* https://blog.heroku.com/archives/2014/8/7/heroku-button
* https://devcenter.heroku.com/articles/heroku-button

[2015-08-27 22:23] PlasticLizard commented on #69
Also, if you were on node, you could use [this](https://github.com/matthew-andrews/isomorphic-fetch)

[2015-08-27 23:58] #49 closed

[2015-08-27 23:59] justin808 commented on #69
@mapreal19 Could you take a try at this one and submit a PR?

[2015-08-28 00:00] justin808 commented on #51
@jbhatab, we were just discussing this today. Let's get a PR for this.

[2015-08-28 00:01] justin808 commented on #50
Closed by #59

[2015-08-28 00:01] #50 closed

[2015-08-28 00:02] justin808 commented on #2
I plan to tackle this in the next few days.

[2015-08-28 00:03] justin808 opened #72 "Demonstrate react-router + redux"
We can put in a sample of using react-router with redux. However, server side rendering may not work initially.

[2015-08-28 00:07] jbhatab commented on #51
I agree with @alexfedoseev. Using jquery_ujs through npm is the cleanest and most consistent way to get jquery_ujs in the project but not make it feel different than all the other assets. I do feel since we have to use the jquery_ujs gem, it's irrelevant how we break out jquery until we solve both of them at once since jquery_ujs is already loading in jquery.

Just looked at the github though and

[2015-08-28 00:12] jbhatab commented on #51
What if we package jquery_ujs with the react-webpack-server-rendering gem? Feels a little weird, but its an idea.

[2015-08-28 01:06] justin808 commented on #51
@jbhatab I looked into this. It's super simple. We need to include only the ujs file in the application.js, and then have the webpack generate file expose jQuery.

[2015-08-28 07:52] mapreal19 commented on #69
@justin808 sure!

[2015-09-04 22:05] josiasds commented on #72
@justin808 I've done an example of react-router and redux with @alexfedoseev. Any thoughts on this?

[2015-09-05 00:14] #69 closed

[2015-09-05 07:20] justin808 opened #77 "Create a simple example of a React component with remote record to edit"
@geoffevason showed me an example of using the no-flux for the simple case of editing a single object with  remote call. I think this is a good example, and worth showing.

So long as the following conditions are met, it's OK to have the ajax call to save be at the top level of the component. The simple example is shown here, by the official [react docs](https://github.com/reactjs/react-tutorial/b

[2015-09-06 00:42] geoffevason commented on #77
I'll find time to have a go at this this week

[2015-09-09 05:14] justin808 opened #85 "Move to node 4.0.0"
https://nodejs.org/en/blog/release/v4.0.0/

Finally! We can fix server.js to be ES6.

[2015-09-09 05:26] samnang commented on #85
We could wait a bit until some third parties start having it on their servers. For example, on CI.

[2015-09-09 07:40] shunwen opened #86 "imagePath option has been retired from node-sass"
Ref. https://github.com/sass/node-sass/issues/702

In https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client%2Fbootstrap-sass.config.js#L13 the imagePath option is no longer available.

[2015-09-09 08:56] justin808 commented on #86
@shunwen Any recommendation on how we should handle this? @alexfedoseev, FYI

[2015-09-10 00:23] josiasds commented on #77
This should enable the rendering for non-Redux components in the `react_on_rails` gem: https://github.com/shakacode/react_on_rails/pull/19

[2015-09-10 19:43] justin808 opened #87 "Move to React 0.14"
Boom!

http://facebook.github.io/react/blog/2015/09/10/react-v0.14-rc1.html

We need a PR for this. Any volunteers?

Any suggestions for what order we put the next set of enhancements in?

[2015-09-10 22:59] justin808 commented on #51
I've outlined the issues here: http://forum.railsonmaui.com/t/considerations-for-jquery-with-rails-and-webpack/344

[2015-09-11 01:55] shunwen commented on #86
@justin808 Hi, I don't know much about sass and assets, was on my way setting up deploy scripts and reviewing all options and found this one deprecated. I'll update here if I found additional info. Thanks for your tutorial by the way, it was really helpful. :+1:

[2015-09-12 01:30] #51 closed

[2015-09-16 01:09] jasongonzales23 opened #92 "How do AJAX requests function when the node server and rails servers are on different ports?"
EOM

[2015-09-16 01:25] justin808 commented on #92
We don't use different ports. We simply use webpack to create a nice JS file that slips into the asset pipeline.

[2015-09-16 01:25] #92 closed

[2015-09-16 01:29] justin808 commented on #92
@alexfedoseev, on the team, wrote this awesome [article](https://medium.com/@alexfedoseev/isomorphic-react-with-rails-part-i-440754e82a59) which explains an alternative solution that uses a node server on different ports. It adds a lot of complexity. The way presented here is super simple. We might consider integrating webpack more closely so that you can get hot reloading within rails, *someday*.

[2015-09-16 01:59] jasongonzales23 commented on #92
Thanks so much for the quick response! I guess I should have asked my question more clearly though. Let's say I want to use hot reloading while using the webpack dev server and my component hits the api on my Rails server (much like your Comment component does). Is this possible with your setup?

[2015-09-16 02:12] justin808 commented on #92
@jasongonzales23 Please see these two issues:

* https://github.com/shakacode/react_on_rails/issues/18
* https://github.com/danott/webpack_rails/issues/12

It would be amazing if you could take the lead and see how we could get this integrated into the tutorial and/or react_on_rails gem.

[2015-09-16 02:32] justin808 commented on #92
And here's another article on the topic: http://clarkdave.net/2015/01/how-to-use-webpack-with-rails/

[2015-09-16 03:09] jasongonzales23 commented on #92
Justin,

I will gladly take a crack at 'em!

[2015-09-16 05:21] justin808 commented on #92
@jasongonzales23 I submitted issue: https://github.com/shakacode/react_on_rails/issues/26 You might have fun experimenting with converting some code from the article into helpers in the react_on_rails gem.

[2015-09-16 07:23] justin808 commented on #2
@andresgutgon we're almost ready to allow server side rendering with redux/react/react-router once we use the new version of the react-router API. @mapreal19 Please try out the https://github.com/shakacode/react_on_rails/pull/20 with this example. You can configure bundler to use this branch. And then **boom** server rendering. CC: @josiasds, @alexfedoseev, @dylangrafmyre

We should have the next

[2015-09-16 07:24] justin808 commented on #2
@andresgutgon, the https://github.com/mariopeixoto/react-router-rails is based on the react-rails gem. Our preferred technique is webpack for JS code and **not** gemifying the JS assets.

[2015-09-16 07:49] andresgutgon commented on #2
@justin808 I know. For that I'm moving to a Express (node) app for server side rendering. This way I have only one routing system on server/client (react-router). That was some of my requirements.

Anyway thank you for this project. It great

[2015-09-16 09:28] justin808 commented on #2
@andresgutgon You'll soon see that an express node app is not your only option. We're using a react-router type setup within Rails pages.

[2015-09-16 09:31] andresgutgon commented on #2
Good :muscle:

In the meantime for me is a good experience learn node and setup an universal app with that stack

[2015-09-18 12:10] jbhatab opened #95 "Remove bootstrap-sass-loader in favor of manually loading bootstrap"
Bootstrap-sass-loader autoloads bootstrap assets from the module so it isn't exposed at all for rails to pickup. This forces you to use the bootstrap-sass gem in addition to the npm module. If we just manually load all of the bootstrap from the npm module, then we can import that into the rails asset pipeline.

So all said and done you would basically move all of your assets to the client folder,

[2015-09-23 18:44] jasongonzales23 opened #101 "react-hot-loader is being deprecated, replace with react-transform-hmr"
I will be happy to do this and submit a PR. Just logging the issue.

[2015-09-23 19:15] alexfedoseev commented on #101
@jasongonzales23 Thanks! But let's start new PR after #96 will be merged. There will be a lot of changes in `client` dir, so it's better to start working with updated configs and structure.

[2015-09-23 20:47] justin808 commented on #101
@alexfedoseev Let's get this in there ASAP, so we can start the next few PRs.

[2015-09-25 19:37] justin808 commented on #2
@alexfedoseev @dylangrafmyre @mapreal19 @josiasds @samnang I want to get this live by this weekend. @dylangrafmyre I believe you were working on this, and @alexfedoseev has some changes as well.

[2015-09-25 19:40] justin808 commented on #2
Once this is done, let's be sure to put in a comment here: https://github.com/reactjs/react-rails/issues/143 to let react-rails folks know that we got this working.

[2015-09-25 21:39] alexfedoseev commented on #2
@justin808 Yep, gonna merge my branch this weekend.

[2015-09-27 21:25] alexfedoseev commented on #101
@jasongonzales23 #96 is merged. Feel free to submit a PR. Thanks!

[2015-09-28 14:44] jasongonzales23 commented on #101
OK, I will get on it!

[2015-10-02 21:43] justin808 commented on #95
Closing this for now. Feel free to re-open this later.

The main thing is to have a simple system that handles minification and fingerprinting.

[2015-10-02 21:43] #95 closed

[2015-10-02 21:44] justin808 commented on #2
Finished a while ago!

[2015-10-02 21:44] #2 closed

[2015-10-02 21:44] justin808 commented on #69
Check out https://github.com/shakacode/react_on_rails/issues/16#issuecomment-145159431

[2015-10-05 18:02] alexfedoseev commented on #101
@jasongonzales23 Replaced in https://github.com/shakacode/react-webpack-rails-tutorial/pull/109

[2015-10-05 22:57] jasongonzales23 commented on #101
Ah thanks for beating me to it. Been swamped lately!

[2015-10-06 06:42] alexfedoseev commented on #101
NP :) Closing this.

[2015-10-06 06:42] #101 closed

[2015-10-06 19:52] justin808 opened #110 "Null vs "" for string fields"
What’s the best practice for NULL vs “” for Rails apps with JS front ends (postgres)? Just ran into a thorny issue!

http://forum.shakacode.com/t/null-vs-for-rails-with-postgres-with-js-client-app/369

@josiasds, @alexfedoseev, @samnang: Let's figure some best practice recommendation.

[2015-10-07 04:22] samnang commented on #110
My take on this:

* We should never use nullable on string or boolean columns. Avoid it by `null: false, default: ""`
* For number or datetime columns could be nullable because in some scenario nil represent the missing value/input.

[2015-10-07 04:24] justin808 commented on #110
I'm OK with that. There's just no reason for it on boolean or string.

@josiasds @geoffevason Any opinions?

[2015-10-08 08:45] vivalaakam opened #111 "rendering error"
I get lastest  version of repo compile all run on my pc and when i try to get main page
Exception in rendering!

Message: Minified exception occurred; use the non-minified dev environment for the full error message and additional helpful warnings.

Error: Minified exception occurred; use the non-minified dev environment for the full error message and additional helpful warnings.
    at invariant (

[2015-10-08 09:53] vivalaakam commented on #111
problem was in npm module react-bootstrap@0.25.2

[2015-10-08 15:39] dustingetz commented on #111
Can you post more details? I think everyone who does a fresh clone today is broken

[2015-10-08 16:15] vivalaakam commented on #111
this error was in react-bootstrap@0.25.2 , version 0.25.1 was working normally. Also test on 0.26.4 working too

[2015-10-08 16:16] dylangrafmyre commented on #111
@vivalaakam Thanks, I am testing 0.26.4 right now and will fix.

[2015-10-08 16:37] dylangrafmyre commented on #111
@vivalaakam Thanks again. I confirmed this issue by cloning the repo. Upgrading react-bootstrap to @0.26.4 resolved the render error.

[2015-10-08 16:59] dustingetz commented on #111
From a fresh clone, and i verified react-bootstrap 0.26.4 in npm_modules,

`Uncaught Error: Invariant Violation: Objects are not valid as a React child (found: object with keys {type, key, ref, _owner, _context, _store}). It looks like you're using an element created by a different version of React. Make sure to use only one copy of React.`

Is this a different error than what you saw?

[2015-10-08 17:00] dustingetz commented on #111
I am at `2b7f67f Merge pull request #112 from shakacode/render-error#111`, fresh clone.

[2015-10-08 17:01] dylangrafmyre commented on #111
@dustingetz Yes, this is different.

[2015-10-08 17:22] dylangrafmyre commented on #111
@dustingetz I actually got the initial reported error again. However, `rm -rf client/node_modules` and `rm -rf client/npm-shrinkwrap.json` followed by `npm install` and `cd client && npm shrinkwrap` fixed my error.

`foreman start -f Procfile.dev` shows everything is loaded good and localhost:4000 renders now errors.

Can you try on your end. I will open this issue back up and keep investigating t

[2015-10-08 17:23] dylangrafmyre commented on #111
This still needs to be investigate further.

[2015-10-08 17:24] dustingetz commented on #111
What was the initial reported error?

[2015-10-08 17:24] dylangrafmyre commented on #111
The one by @vivalaakam at the top of this issue.

[2015-10-08 17:27] dustingetz commented on #111
The `Uncaught Error: Invariant Violation` error came out of the js console on :3000. I get the same or very similar error on :4000. Trying again now, sorry, I already rm-rfed everything and waiting on npm.

[2015-10-08 17:39] dustingetz commented on #111
Deleting npm-shrinkwrap and installing again fixed the problem.

[2015-10-08 17:47] dylangrafmyre commented on #111
@dustingetz Thanks. We were also able to replicate your error.

[2015-10-08 18:07] josiasds commented on #77
PR #102 in progress!

[2015-10-08 19:33] dylangrafmyre commented on #111
@dustingetz We updated all npm packages and cannot reproduce this issue anymore on fresh clone of the repo. Please let us know if you have any further issues. Thanks!

[2015-10-08 19:35] dylangrafmyre commented on #111
Fixed by PR #113

[2015-10-08 19:35] #111 closed

[2015-10-09 03:47] justin808 opened #116 "Consider reversing the 3000/4000 ports"
Since Rails is a default of 3000, we should consider switching this:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/server.js#L54

[code]

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/Procfile.dev#L1

    web: rails s -p 4000

Anybody second me on this suggestion?

[2015-10-09 03:59] szyablitsky commented on #116
Already done this in my own project. :+1:

[2015-10-09 05:04] dylangrafmyre commented on #87
@justin808 I believe this was resolved by PR #113

[2015-10-09 05:05] #87 closed

[2015-10-09 05:15] justin808 opened #117 "Display link to current git commit deployed"
Let's display a link to the current git commit deployed on Heroku.

There's a number of options here:

http://stackoverflow.com/questions/14583282/heroku-display-hash-of-current-commit

[2015-10-09 13:40] josiasds commented on #116
+1 on switching this.

[2015-10-14 07:28] justin808 commented on #85
@dylangrafmyre FYI -- closing. DONE.

[2015-10-14 07:28] #85 closed

[2015-10-14 07:29] justin808 commented on #77
Done!

[2015-10-14 07:29] #77 closed

[2015-10-14 23:36] justin808 commented on #110
@josiasds This would be a good quick one for you to throw in the code.

[2015-10-14 23:37] justin808 opened #120 "Demonstrate how i18N could work with webpack and rails"
That's a great question. I'm guessing, not having done it with this setup, that you could do something like this:

https://github.com/fnando/i18n-js#rails-app-without-asset-pipeline

We'd love to see a pull request example of how this can be done.

![2015-10-14_16-35-12](https://cloud.githubusercontent.com/assets/1118459/10500992/e54645ee-7291-11e5-8134-1b2863c5c6e9.png)

[2015-10-15 16:54] rstudner commented on #120
I think using i18n.js to server up the asset files from the rails side is one option, and then have the client side stub out the same method and do some sort of node/yml lookup.  i'll tinker with this and see what can be done.

[2015-10-15 16:55] rstudner opened #122 "Demonstrate use of backbone models integrating with react in same app."
I've done some work integrating backbone models w/ react views (and binding the listeners to redraw when the model changes etc)

I'll add an example of this to the sample project to help more people have a sense of how they could adopt the gem in general and move forward.

[2015-10-15 21:31] #116 closed

[2015-10-15 23:07] #110 closed

[2015-10-16 21:51] justin808 opened #124 "Consider including Lodash in the project"
Take a look at this:
https://github.com/shakacode/react-webpack-rails-tutorial/pull/123/files#r42269891

The take away is this:

[code]

vs with Lodash:

[code]

I find lodash to be my swiss army knife when coding JS, and it fits in well with React.

In fact, Lodash is already an implicit dependency.

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/npm-shrinkwrap.json#

[2015-10-17 14:41] samnang commented on #124
:+1:

[2015-10-20 17:44] robwise commented on #117
Another possible option to consider is just using JavaScript to call [the GitHub API](https://developer.github.com/v3/git/refs/) for the repo, although this assumes continuous deployment.

[2015-10-20 19:52] justin808 commented on #117
Hi @robwise, the best way to do this is to set an env var as part of a deployment script.

[code]

[2015-10-21 00:06] robwise commented on #117
Work in progress: #125

[2015-10-23 21:06] justin808 commented on #117
Boom!

[2015-10-23 21:06] #117 closed

[2015-10-24 00:50] justin808 commented on #124
https://www.youtube.com/watch?v=Pq1RD22W7B4#t=55s

I vote for lodash.

CC: @jdalton

[2015-10-29 23:53] justin808 opened #133 "Test out proxying to main rails server from hot module reload (webpack-dev server)"
* https://github.com/gaearon/react-hot-loader/issues/46
* https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/server.js#L30

I think we could start the hot reload server with an env var (or even start on different ports in the proc file!) and show this off.

* Port 3000 for Rails
* Port 4000 for Webpack Dev Server, proxy last
* Port 5000 for Webpack Dev Server, using proxy

[2015-10-29 23:54] justin808 commented on #133
@necronet Would you be able to try this out in a fork?

[2015-10-30 00:04] necronet commented on #133
I have a similar setup with using `contenBase` and seems webpack setup the proxy to point to the proper endpoints I'll do an sample on this!

[2015-10-30 00:19] justin808 commented on #133
@necronet Please create a fork and maybe we can bring this in, and if it's super cool, @robwise will put in our generator.

[2015-10-30 20:28] justin808 opened #138 "Simple, non-redux example improvements"
1. This should take props so as not to depend on the first ajax request: https://github.com/shakacode/react_on_rails/blob/master/app/assets/javascripts/react_on_rails.js#L159

2. We should not be passing empty props here:
<%= react_component('SimpleCommentScreen', {}, generator_function: false, prerender: false) %>

3. We need to break this up into a container component that does the Ajax call and

[2015-10-30 20:32] justin808 commented on #138
This one is up for grabs until we assign somebody!

[2015-10-30 21:53] justin808 opened #139 "Switch to ES6 Class syntax for React from ES5 React.createClass"
@alexfedoseev will comment some more on the reasons we should do this.

Any volunteers for converting the code?

@robwise We'll be updating the generator to support this.

[2015-10-30 22:15] rstudner commented on #139
I'll start on it tonight. Outside of cases using lonkedstatemixin, I've been doing es6 only react stuff and am familiar with he converting process.

[2015-10-31 03:48] justin808 opened #141 "Include pure-render-decorator"
If we're using Immutable.js, we should use the pure-render mixin. However, we're about to change to ES6 classes, so this seems to fit the bill.

[code]

* https://facebook.github.io/react/docs/pure-render-mixin.html
* https://github.com/felixgirault/pure-render-decorator
* https://www.npmjs.com/package/pure-render-decorator
* [React.js Conf 2015 - Immutable Data and React](https://www.youtube.com/

[2015-10-31 04:43] justin808 opened #142 "Use CSS Modules?"
Will CSS go the way of JavaScript with modules?

And if already using React + Webpack?

https://www.youtube.com/watch?v=aIyhhHTmsXE

* http://glenmaddern.com/articles/css-modules
* https://github.com/css-modules/css-modules
* https://github.com/gajus/react-css-modules
* https://css-modules.github.io/webpack-demo/

![2015-10-30_21-34-45](https://cloud.githubusercontent.com/assets/1118459/10861884/3

[2015-10-31 04:44] justin808 commented on #142
@alexfedoseev @jbhatab @samnang @robwise @josiasds @mapreal19 @dylangrafmyre Worth considering!

[2015-10-31 06:58] justin808 opened #143 "Consider isomorphic-fetch"
Redux docs recommend:
- https://github.com/matthew-andrews/isomorphic-fetch

We're using axios
- https://github.com/mzabriskie/axios

Probably no reason to switch, but just noticed the recommendation from the redux docx.

@alexfedoseev What's your call?

[2015-10-31 07:24] jbhatab commented on #142
This blog was great on ICSS. http://glenmaddern.com/articles/interoperable-css. The video should be coming out soon, it was a great talk.

I'm definitely on board.

[2015-10-31 17:15] robwise commented on #142
The cool thing about doing it this way is that you can put the styling for your "bundle" (here meaning a folder within `client/app/bundles`) with the actual bundle, which is cool for organization as well as for modularity (meaning it's easier to extract the component for reuse components across apps, if you wanted to).

[2015-10-31 17:43] robwise commented on #138
@justin808 I agree with this approach in general. While making the generators, I was having to first make my own custom apps in order to be sure that what I was generating would actually be a working app. The more we can make the tutorial the model on which to base our generators, the better. Obviously, there are some things in the tutorial that should not go in the generators, as the former is sh

[2015-10-31 18:05] robwise commented on #139
@justin808 @rstudner this is implemented in https://github.com/shakacode/react_on_rails/pull/70 if you want to get an idea for what the syntax looks like. Note also that we are using a new paradigm in terms of `client/` folder organization.

For more on that, see this doc (soon to be included in the gem README): https://docs.google.com/a/friendsandguests.com/document/d/1jBrIjOfZ3ct8Uo2mzzwO0wCCkLt

[2015-10-31 18:07] rstudner commented on #142
I've used this css bundle technique. It is *very* handy

[2015-10-31 18:09] robwise commented on #141
Cool! It was unclear from the React documentation, but if you use Immutable objects (which we are), do you still need to do the `forceUpdate()` thing because of the shallow object introspection problem? I couldn't tell if they meant you didn't need it with Immutable objects or just that Immutable objects would make `forceUpdate()` run faster.

[2015-10-31 18:11] rstudner commented on #139
It seems that the code is using es6 function syntax..  ala -- render() {  }  but is still using the React.createClass ES5 syntax (for say ,the helloworldcontainer).

Sorry, on mobile, hard to do markdown :)

[2015-10-31 18:13] robwise commented on #86
@justin808 @alexfedoseev I believe we've already fixed this in our bootstrap integration by declaring its own helper: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/assets/stylesheets/_bootstrap-variables-customization.scss#L28

[2015-10-31 18:15] rstudner commented on #139
Thanks @robwise.  I think I have all the code updated above (i'd be a bit too aggressive in removing commas ;).

I was having problems with the :: es7 binding syntax, so I used the ES6+/ES6 fat arrow function syntax.

I can revise it again if people really prefer it over the fat arrow (I guess I sort of like the fat arrow because it serves the same role as how coffeescript uses the fat arrow and m

[2015-10-31 18:30] robwise commented on #139
@rstudner Yeah I didn't get the `::this` syntax until @jbhatab showed me it was exactly the same as doing `this.someMethod().bind(this)`. Basically, class methods by default have their `this` reference the class and not the actual component instance, so when we call methods from `render` (at which point `this` would refer to the component) we want to pass that binding so that the methods can acces

[2015-10-31 19:10] rstudner commented on #139
@robwise No, it isn't that :)  I get :: and .bind(this) from a technical perspective.  I'm just saying that if a person uses RubyMine as an IDE, it doesn't 'get' :: as ES6+/ES7 syntax and thus puts red underlines (i.e. "error indicators") all over the file and in the project tree/file view.  Just an eye-sore.  (I think the upcoming RubyMine 8 will resolve this).

Thus, I did => just to avoid 'that

[2015-10-31 19:21] jbhatab commented on #139
@rstudner Get on that raw sublime life ;). I use the => syntax myself anyway because it makes passing data into functions easier imo.

@robwise I don't use constructors anymore either. A few people have told me this is best practice.

[2015-10-31 19:23] rstudner commented on #139
@jbhatab I love sublime and use it for doing react and Scala dev. I just know 20+ people who live in RubyMine. So I am always sensitive to their world :).

[2015-10-31 19:24] jbhatab commented on #139
Fair enough. I actually really like the {(e) => this.onWhatever(e)} syntax.

[2015-10-31 19:26] robwise commented on #139
@rstudner Oh sorry, I had misunderstood! Hmm, if this syntax is currently not supported in RM7, perhaps  F&G should change style to match not use it, then, and instead do it with either `=>` or `{(e) => this.onWhatever(e)}`.

Wondering what @alexfedoseev thinks on this one.

[2015-10-31 19:31] rstudner commented on #139
Even outside of the RM7 issue I (personably) think the fat arrow syntax just reads easier. And as I alluded to way back - it mimics the coffee script syntax so lots of people make no mental shift lah lah.

[2015-10-31 20:52] justin808 commented on #139
I'm a big RubyMine user. Don't worry about the things like small markings of syntax errors and use the command line for linting. I tried to use RubyMine for that, but it's too much work to keep up with the command line tools.

[2015-10-31 20:57] justin808 commented on #141
@robwise I don't think forceUpdate() is necessary. It should just work.

[2015-10-31 21:14] justin808 commented on #86
Per Rob's comment, this was fixed a while ago.

[2015-10-31 21:14] #86 closed

[2015-10-31 21:25] rstudner commented on #139
Good point @justin808. People can just disable the errors one at a time or wholesale to silence it.

[2015-10-31 22:15] alexfedoseev commented on #139
Without fat arrows life is PAIN, especially in reducers:

[code]

[2015-10-31 22:38] robwise commented on #139
@alexfedoseev So if you were doing it again, you would not use the `::this` syntax as you do in the F&G source code?

[2015-10-31 23:20] justin808 commented on #124
More on lodash: https://github.com/Khan/style-guides/pull/28/files#files

My personal preference is to lean on lodash for consistency. It's a lot of work to keep track of both, and like using the linters, I prefer consistency.

[2015-11-01 09:55] alexfedoseev commented on #139
@robwise It's different. Usecases:

[code]

[code]

[2015-11-01 12:23] alexfedoseev commented on #143
Let's leave this open. Because of "no reason to switch" it's low priority, so let's review it in a month or so.

[2015-11-01 14:32] rstudner commented on #139
I think there is even the other use case:

[code]

This has the entire function bind correctly to 'this' (essentially what we got for free in the old ES5 syntax)

[2015-11-01 15:54] alexfedoseev commented on #139
@rstudner :+1:

[2015-11-01 17:13] alexfedoseev commented on #139
@rstudner Rewind :) Somehow it broke `this.setState`. Very likely I'll stick with `::functionBind` :)

[2015-11-01 17:21] jbhatab commented on #139
@robwise I prefer to always bind my functions in the render, but is there any use case where you need to do it in the function itself?

Side note, this syntax actually broke for me with babel, dunno if they fixed it:
[code]

@alexfedoseev how do you pass arguments into your functions? This is why I like the {(e)=> this._handleSomthing(pass, whatever)} because it gives you that flexibility.

Also h

[2015-11-01 17:51] rstudner commented on #139
You can do:
[code]
etc.

As well, changing the initial state from constructor based to:
[code]
simply results in the console error:
Uncaught TypeError: Cannot read property 'formMode' of null
for the code
[code]
I'll go ahead and just close this PR since 3 approaches have been 'wrong' for style reasons and once people decide on how code should 'look' we can move forward on it.

[2015-11-01 17:51] #139 closed

[2015-11-02 00:07] justin808 commented on #142
Had great chat with @alexfedoseev. Looks like this can work. @jbhatab, you'll be proven right about creating the CSS within Webpack. Here's the steps:

- [ ] Update the bootstrap-sass-loader so that it wraps the resulting sass in `:global {}`. See https://github.com/shakacode/bootstrap-sass-loader/issues/36
- [ ] We'll need a new webpack config file to build the extracted CSS along with fingerprin

[2015-11-02 18:06] justin808 commented on #124
@josiasds I put your name on this one. Should be quick.

@alexfedoseev if we put lodash in the vendor bundle, I'm pretty sure that parts we don't user don't get stripped out. That's a need for jQuery. I'm thinking we could have a generated/vendor-optimized.js bundle that has all the other libraries we include with unused stripped out.

I'd like to be able to see the project, non-vendor, code in it

[2015-11-02 19:37] justin808 opened #146 "Need to refactor the README.md"
It's too long and too scattered.

We can create docs directory with short notes.

We should update this once we push out v1.0 of react_on_rails.

CC: @robwise

[2015-11-02 19:39] robwise commented on #146
@justin808 definitely agree with the problem, but I think the solution should be a wiki and not the docs folder as the former seems to be a more popular convention as @jbhatab pointed out.

[2015-11-02 19:41] robwise commented on #124
I know it's nice to have the webpage download as small as possible, but how many KB are we talking about here? If we use half of the lodash library and leave the other half unused, we'd be foregoing, what, 9KB of savings by just importing all of it?

[2015-11-02 19:47] justin808 commented on #146
1. The problem with the wiki is that it doesn't force us to review what goes in, and wikis get hopelessly outdated and nobody ever cleans them up.
2. Even more so for the gem, it's critical that the docs match up with the code, so having version tags and branches is critical.

[2015-11-03 14:20] muloka commented on #146
:+1:

[2015-11-03 14:22] muloka commented on #22
Not sure I follow. You'd like to see how to use React Native with a React / Rails Backend?

[2015-11-03 14:26] muloka commented on #72
#128

[2015-11-04 07:12] justin808 opened #149 "We should make this a mixin"
https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/assets/stylesheets/_bootstrap-variables-customization.scss#L15

We have the below code. We can DRY this up with a mixin, taking the font-family as the param.

[code]

[2015-11-05 00:01] justin808 commented on #124
Fixed in #147

[2015-11-06 07:06] #124 closed

[2015-11-06 20:58] justin808 commented on #72
![2015-11-06_12-56-36](https://cloud.githubusercontent.com/assets/1118459/11008533/0326b1b0-8486-11e5-874d-7a57bf608587.png)

[2015-11-15 05:46] justin808 commented on #142
@alexfedoseev and I are working on: https://github.com/shakacode/bootstrap-loader/tree/alex/bootstrap-4. We'll be adding CSS modules here shortly.

[2015-11-15 05:47] #9 closed

[2015-11-15 05:50] justin808 opened #153 "Change to using "defer" for Rails script tag"
Needs to be done in conjunction with https://github.com/shakacode/react_on_rails/issues/99

See details here:
http://stackoverflow.com/questions/436411/where-is-the-best-place-to-put-script-tags-in-html-markup

http://api.rubyonrails.org/classes/ActionView/Helpers/JavaScriptHelper.html

Basically we just want to add param: `defer: "defer"` to the script tag for application.js.

[2015-11-15 05:54] justin808 opened #154 "Miscellaneous Cleanups Per react_on_rails generator examples"
See these PRs: https://github.com/shakacode/react_on_rails-generator-results-v1.0.3/pulls (might have to look at most recently closed ones).

There's many small details that we're doing in the generators that are not done with this tutorial:

- [ ] Convert to a bundles directory structure, updating the webpack configs
- [ ] Convert to Puma from unicorn
- [ ] Convert `::` bindings for react callbac

[2015-11-15 07:41] robwise commented on #154
also the loggerMiddleware should just use `JSON.stringify` as in the generators

[2015-11-15 18:44] josiasds commented on #154
@justin808 Is anyone working on this? Maybe @mamute could give it a try.

[2015-11-16 19:20] mamute commented on #154
I can certainly look into it

[2015-11-16 20:34] thiagoc7 opened #156 "AjaxCounter"
Hello guys, thanks for this awesome repo.

Maybe it's a silly question... but I didn't understand why use AjaxCounter functions to track loading state.
On redux [tutorial](http://redux.js.org/docs/advanced/AsyncActions.html) they use `isFetching`, which feels like a simpler solution to me.

Is there any reason for this design choice that I didn't get?
Or would you accept a `PR` implementing this t

[2015-11-16 22:38] robwise commented on #156
@alexfedoseev is probably the best guy for answering that

[2015-11-17 05:08] justin808 commented on #156
Yes, a PR would be FABULOUS! @thiagoc7 the reason we had the counter was that we considered showing the number of in-flight ajax requests, and if there are multiple ones, how will you know when no more are in-flight?

[2015-11-17 05:08] justin808 commented on #156
@thiagoc7 Let us know if you would like an invite to our slack room.

[2015-11-17 10:01] thiagoc7 commented on #156
Hi @justin808!
Sure, I would like an invite for slack, thanks! My email is thiagobocorrea@gmail.com.

About the counter, what I don´t understand is why you need to know how many ajax requests are in-flight. If the goal is showing a spinner, just a `boolean` isn´t enought?

My idea is to track both `isFetching` (for a spinner) and `isSaving` (for submit button).
I´ll create a PR anyway, so you guys

[2015-11-17 16:38] thiagoc7 commented on #156
PR #158

[2015-11-17 16:38] #156 closed

[2015-11-20 09:30] justin808 commented on #154
This is the most relevant PR to compare to: https://github.com/shakacode/react_on_rails-generator-results-v1.0.3/pull/114/files. @mamute, possibly you can coordinate with @thiagoc7.

[2015-11-22 23:11] thiagoc7 commented on #154
@justin808, Convert to Puma from unicorn on PR #160

[2015-11-30 19:41] justin808 commented on #154
@thiagoc7, @josiasds, @mamute Please coordinate on bring over the latest suggestions.

Here's redux server rendering:
https://github.com/shakacode/react_on_rails-generator-results/pull/124/files

I think the heroku changes are done by @thiagoc7 already.
https://github.com/shakacode/react_on_rails-generator-results/pull/130/files

As you go through these, please comment in the PRs of the changes in

[2015-11-30 22:44] justin808 opened #162 "CSS Modules conversion -- EXCITING Task to take on!"
@alexfedoseev and I are looking for help to migrate the current bootstrap usage to use the new libraries that Alex and I have developed which allow for:

* CSS Modules
* Bootstrap 4 (but probably won't convert immediately unless the bootstrap-webpack has a branch that supports this)
* Soon hot reloading of the CSS and JavaScript within the Rails view, not just the Webpack Dev Server (WHAAAAAA? Are

[2015-12-03 16:11] mamute commented on #154
Convert :: bindings for react callbacks to use _.bindAll on PR #167

[2015-12-04 07:28] justin808 commented on #133
Closing this as we'll soon be changing around a few things which will address this issue.

[2015-12-04 07:28] #133 closed

[2015-12-04 07:29] justin808 commented on #71
Closing as I have not gotten this message in a long time.

[2015-12-04 07:29] #71 closed

[2015-12-05 07:59] justin808 commented on #141
@mamute want to give this a try?

[2015-12-05 08:02] justin808 commented on #37
This was fixed a while ago: https://github.com/shakacode/react-webpack-rails-tutorial/tree/master/client/test

[2015-12-05 08:02] #37 closed

[2015-12-05 08:02] justin808 opened #169 "React Testing Libraries: Enzyme"
Anybody think we should be using this:

https://github.com/airbnb/reagent

[2015-12-06 03:34] justin808 commented on #154
From @robwise:

Rob, can you help @josiasds @mamute out with this one.

[2015-12-06 07:44] robwise commented on #154
@josiasds @mamute basically, we were using a loop to go through the Immutable object and extract a bunch of stuff out to be printed to the console. That's completely unnecessary, because you can just call `JSON.stringify(myImmutableObject)` and forget all of that nonsense.

Here is the relevant example from the gem: https://github.com/shakacode/react_on_rails/blob/master/lib/generators/react_on_ra

[2015-12-06 12:18] mamute commented on #154
@robwise this will make the JS object be printed as a string… is that what we expect?

[2015-12-06 23:20] robwise commented on #154
@mamute Yep! We could also just log the object directly, but I was just simplifying the code that was already there when I first got on the project, and that's what it was doing.

[2015-12-07 02:12] #154 closed

[2015-12-07 16:13] mamute commented on #141
sure :+1:

[2015-12-08 03:53] huoshiqiu opened #172 "Question with assets.rake"
When you are deploying **assets:precomile** I have a question how do you run the NPM command directly,
because I look up how to run NPM through the SSH command, as if you need to set the environment variable, these problems are derived from the time I have been deployed with error **no NPM command**

[assets_file](https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/lib/tasks/asse

[2015-12-08 04:03] justin808 commented on #172
Be sure that you have current versions of nvm and npm installed and are using at least 5.0 of node.

Do not use Babel 6 yet. Stick with Babel 5 for now.

[2015-12-08 04:03] #172 closed

[2015-12-08 19:01] josiasds commented on #169
Now it's called "Enzyme": https://github.com/airbnb/enzyme

[2015-12-09 01:59] mamute commented on #141
Hey guys, how can I check if a component is rendering faster or any other result of pure-render implementation?

[2015-12-09 03:05] justin808 commented on #141
@alexfedoseev @josiasds @alexfedoseev Should we be including the pure render mixin like this: https://christianalfoni.github.io/react-webpack-cookbook/Javascript-next.html

[2015-12-09 17:08] nicholasalanbrown opened #173 "Including Font Awesome?"
HI -

I'm using this terrific boilerplate and have tried including Font Awesome both through the ```font-awesome-rails``` package with an ```@import``` statement in ```application.css.scss``` and as an npm module, but can't get either implementation to work. Is this  some weirdness caused by the modified asset pipeline?

Thanks!

[2015-12-10 06:02] justin808 commented on #173
Hi! We're in the process of totally reworking the process for inclusion of Sass in Webpack + Rails projects in the next few weeks. See https://github.com/shakacode/react-webpack-rails-tutorial/issues/162.

I'd say that it's critical to adjust this file: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/assets/stylesheets/_bootstrap-variables-customization.scss

You shoul

[2015-12-10 06:02] #173 closed

[2015-12-11 09:38] justin808 commented on #122
@rstudner Should this one still be open?

[2015-12-11 09:38] #122 closed

[2015-12-13 11:08] robwise opened #176 "Do We Need Both Promise Polyfills"
We have `babel-polyfill` and `es6-promise`, do we need both?

[2015-12-13 12:05] alexfedoseev commented on #176
@dylangrafmyre @justin808 Do you remember where it is/was used?

[2015-12-13 20:13] justin808 commented on #162
Boom! :tada: #175

[2015-12-13 20:13] #162 closed

[2015-12-13 20:14] justin808 opened #177 "Update the Rake tasks for better "CI""
* CI seems to not be running the the js tests: https://github.com/shakacode/react-webpack-rails-tutorial/commit/dda44b2af06752c1360583a454d340f0fc674c51
* default Rake task is 100% not running linting

[2015-12-13 22:13] justin808 opened #178 "Allow running in development mode without the WebpackDevServer to vend assets"
Should we allow the standard, `webpack -w` mode for development? A possible reason is to do development testing with what the specs see.

I discussed this with @alexfedoseev.

Let's have an ENV variable configure if we're using the hot reloading way of using port 3500 for assets or using the standard way of simply loading the webpack compiled file.

How about an ENV variable called:

[code]

Some

[2015-12-13 23:50] justin808 opened #179 "Update the webpack config for production assets to gzip"
For production deployment, we should gzip any assets. And only for production.

CC: @alexfedoseev

[2015-12-15 05:13] robwise commented on #141
@justin808 @mamute @alexfedoseev

For performance checking, see https://facebook.github.io/react/docs/perf.html

[2015-12-18 01:24] justin808 commented on #176
Fixed: https://github.com/shakacode/react-webpack-rails-tutorial/pull/181/files

[2015-12-18 01:25] #176 closed

[2015-12-18 01:26] justin808 commented on #143
Any more thoughts on this one? I'd like to put in a utility method in react-on-rails npm that encapsulates one of these libraries with the meta tag for the CRSF with Rails. @jbhatab @rstudner @alexfedoseev

[2015-12-20 03:55] thewoolleyman opened #182 "Latest react-webpack-rails-tutorial has error finding /__webpack_hmr"
Hi,

I'm trying to get my bearings by running latest master (https://github.com/shakacode/react-webpack-rails-tutorial/commit/814671df8953ecbf8756ab9474d912515cb36217) of https://github.com/shakacode/react-webpack-rails-tutorial

I'm following the README.md, and everything seems to work when I run `bundle exec foreman start -f Procfile.dev`.

But, I get this error from the rails server:

    20:22

[2015-12-20 04:04] justin808 commented on #182
@thewoolleyman You don't hit 3500 directly. That's done by localhost:3000.

I just did a fresh try, and the app is working as expected.

Both ports 3000 and 4000 work.

Check out https://github.com/justin808/justin808-dotfiles/blob/master/zsh/rails.zsh

I use `pgkk` all the time to kill rogue processes.

[2015-12-20 04:10] thewoolleyman commented on #182
Ah ok, it was another browser tab still making requests.  Thanks!

[2015-12-20 04:10] #182 closed

[2015-12-20 04:26] thewoolleyman opened #183 "Capybara Specs Failing"
As of the latest commit (https://github.com/shakacode/react-webpack-rails-tutorial/commit/814671df8953ecbf8756ab9474d912515cb36217), the Capybara specs are failing for me when run via `rake ci`.  I got these identical failures across two successive runs.  Here is the full output:

[code]

[2015-12-20 04:44] justin808 commented on #183
Hi @thewoolleyman, you have some dependencies missing. Maybe we're missing them from the docs.

We're using these:

  gem "capybara"
  gem "capybara-screenshot"
  gem "selenium-webdriver"
  gem "chromedriver-helper"

I do know that I have both webkit (qt5) and poltergeist installed with Brew.

[2015-12-20 04:45] justin808 commented on #183
Take a look at: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/.travis.yml.

Possibly you need firefox installed. @robwise @dylangrafmyre?

@thewoolleyman Can you please submit a doc PR once you determine the missing dependency. Thanks!

[2015-12-20 04:45] #183 closed

[2015-12-20 05:14] robwise commented on #183
@thewoolleyman What do you see if you actually go to the page in your browser and see if the field is actually there or not?

[2015-12-20 05:18] thewoolleyman commented on #183
I don't think I'm missing any dependencies (but I did accidentally have some output pasted above, I've removed it).  I reviewed the travis setup, and also ensured:

* Running 5.0 via nvm with all packages installed
* export RAILS_ENV=test
* Schema loaded
* running via `bundle exec rake`

Same errors.  Also same errors when running via Firefox.  It seems like Capybara just can't fill out the forms,

[2015-12-20 05:20] robwise commented on #183
@thewoolleyman check out http://forum.shakacode.com/t/upgrading-capybara-webkit-to-use-qt5/228

[2015-12-20 05:23] thewoolleyman commented on #183
Ah, I'm being dumb/unlucky again!  When testing hot reloading, I had changed the Name field hint to test it, and forgot to change it back, which broke the test finding the field.  Works fine!  Sorry for the false alarm!

-- Chad

[2015-12-20 05:26] robwise commented on #183
@thewoolleyman No worries, let us know if you have any more questions!

[2015-12-20 09:40] justin808 commented on #149
This is changing due to the way we handle assets with the bootstrap-loader.

[2015-12-20 09:40] #149 closed

[2015-12-20 09:41] justin808 commented on #142
Done! this is in master!

[2015-12-20 09:41] #142 closed

[2015-12-20 09:41] #141 closed

[2015-12-20 09:42] #72 closed

[2015-12-20 09:43] justin808 commented on #138
@josiasds and @mamute Is this issue still valid?

[2015-12-20 09:43] justin808 commented on #177
Fixed.

[2015-12-20 09:43] #177 closed

[2015-12-20 09:48] justin808 opened #184 "Consider a variation of the simple example with react-refetch"
This seems relatively popular: https://github.com/heroku/react-refetch

This would be a nice alternative to showing redux vs. simple. This is in between.

@geoffevason @robwise What are your thoughts on this one?

@mamute Are you interested in giving this a try?

[2015-12-20 10:02] robwise commented on #184
@justin808 I've been reading the docs trying to wrap my head around it. It seems like this relies heavily upon React Router to determine when it needs to refetch (it uses the change of URL as well as the params in the URL to know when and what to refetch)? I'm always open to new tech I guess.

[2015-12-20 11:44] josiasds commented on #138
@justin808 Yes, we should break `SimpleCommentScreen` into a container to handle the requests and a view component.

[2015-12-22 01:26] thewoolleyman opened #185 "What are jQuery entries in webpack.client.base.config module: loaders section needed for?"
If I comment out all the jquery references in the webpack base "module: loaders" section, nothing breaks (i.e. running `rake ci` has no failures and app works via both express and rails):

https://github.com/shakacode/react-webpack-rails-tutorial/blob/814671df8953ecbf8756ab9474d912515cb36217/client/webpack.client.base.config.js#L65

What are these entries necessary to support?  I'm trying to under

[2015-12-22 01:47] justin808 commented on #185
This needs to change. Thanks for pointing this out @thewoolleyman.

I've updated the https://github.com/shakacode/react-webpack-rails-tutorial/ with the correct config.

Note, you should not be loading jquery-rails from your application.js.

[2015-12-22 02:28] justin808 commented on #185
@thewoolleyman You are correct. react_on_rails has no dependency on jQuery. However, turbolinks does. If you don't use TurboLinks, feel free to remove these jQuery references. Let us know how that goes.

[2015-12-22 02:53] mamute commented on #184
@justin808 sure :+1:

[2015-12-22 07:23] thewoolleyman commented on #185
@justin808

Actually, it turns out I ended up needing all three of these entries in my app (except the Bootstrap 4 one, which I'm not using).

This is even though I'm not using Jquery directly anywhere, nor am I using turbo links.

These two seem required to avoid jquery errors in dev mode (although it may have only started showing up when I started using certain react-bootstrap components?):
[cod

[2015-12-22 07:57] justin808 commented on #185
@thewoolleyman We're moving to a new way of handling bootstrap, so it should be possible to configure all the JS to be off in bootstrap. Then you won't need jQuery. We'll have some docs on this shortly. In the meantime, here's the main config file: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/.bootstraprc#L111

You can disable the bootstrap scripts there.

[2015-12-22 09:18] thewoolleyman commented on #185
@justin808 OK, thanks.  I do want to use bootstrap for now, though, so I'll leave jquery enabled until the changes to not need it are available.

[2015-12-26 19:41] justin808 commented on #185
BTW, I did make this PR: https://github.com/shakacode/react-webpack-rails-tutorial/pull/163. The Webpack Dev Server didn't need jquery-ujs.

[2015-12-26 19:41] #185 closed

[2015-12-26 23:19] justin808 opened #188 "Bug! Adding new comment does not go to top of list"
Repro:

1. Open two browser windows to http://reactrails.com
2. Add a name/comment to one.
3. You will see this show shortly on the other window, but not at the top
4. Also, the last comment gets moved down the list on the window where you added the comment.

[2015-12-26 23:19] justin808 commented on #188
@mamute Any chance you want to take a look at this?

[2015-12-26 23:45] mamute commented on #188
@justin808 yes! doing this right now :)

[2015-12-28 02:12] thewoolleyman opened #189 "Selenium/Capybara spec infrastructure does not properly support javascript driver testing"
Hi,

Just giving you a heads up that I had to do some work to get full interactive-page Capybara javascript testing working with react.

Your Capybara specs for the current form submission submit-button example works, even without JS support, but when I made (in my app) a dynamic form that updated the page based on input onchange (keyup) events in a form field, it didn't work.  Here's a summary of

[2015-12-28 05:04] justin808 commented on #189
@thewoolleyman Thanks! This is super helpful. Can you summarize the differences with Rails 5? Would it make sense to update the tutorial app to Rails 5? Maybe a branch would be nice to see what's required.

[2015-12-28 08:14] thewoolleyman commented on #189
@justin808 For this particular topic, I don't know that there's any differences that matter between Rails 4 and Rails 5.

The easiest thing would be to just update the tutorial app to do a field onchange event like I did, and try to test it.  For example, just have some "preview" area below the form that auto-updates with whatever you've currently typed in the field (pretending it's markdown but r

[2015-12-28 09:00] justin808 commented on #189
@thewoolleyman We do have capybara tests working with React. So I'm not sure what exactly is the issue that you're describing. Be sure to check out: https://github.com/shakacode/react_on_rails/blob/npm-react-on-rails-js/spec/dummy/spec/features/integration_spec.rb

I've set this up to allow changing between 4 JS drivers: https://github.com/shakacode/react_on_rails/blob/npm-react-on-rails-js/spec%2

[2015-12-28 09:18] thewoolleyman opened #190 "Brainstorming Ideas"
Not really an issue, just throwing out some ideas for thought.

I'm really liking the react_on_rails approach, and would like to see it get more mature.  It seems to make a lot of things easier than having a more standalone/separate React app/repo that takes more work to integrate with the Rails API/asset pipeline and CI/build workflows.

I've found some other cool things it facilitates I'd like t

[2015-12-28 09:32] thewoolleyman commented on #189
OK, I forgot the generator had tests like this.

I see that you're using #set instead of #fill_in (https://github.com/shakacode/react_on_rails/blob/npm-react-on-rails-js/spec/dummy/spec/features/integration_spec.rb#L10)

I'm using something very similar to the component that the generator generates, but #set didn't work for me, and #fill_in didn't either without changes.

I thought that #set doesn

[2015-12-28 09:43] robwise commented on #190
@thewoolleyman This is totally awesome, please keep us updated!

[2015-12-28 10:20] thewoolleyman commented on #189
Hmm, well apparently most of the changes I had to make are now not necessary to make my Capybara tests pass, and #fill_in and find by label works too.

This is strange, because prior to committing, I disabled my changes one by one and verified that the tests failed without them.  Either I was confused with the interactions between things, or there was something else different about the environment

[2015-12-28 10:20] #189 closed

[2015-12-31 02:06] justin808 opened #191 "Update to react-router 2.0"
Any volunteers? @mamute? @yorzi?

[2016-01-01 13:53] mamute commented on #191
Done #192 :+1:

[2016-01-02 22:26] #191 closed

[2016-01-02 22:26] justin808 commented on #191
Thanks @mamute!

[2016-01-02 22:27] justin808 opened #193 "Add Test for CSS Modules"
See: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client%2Fapp%2Fbundles%2Fcomments%2Fcomponents%2FCommentBox%2FCommentList%2FComment%2FComment.spec.jsx#L17

[code]

[2016-01-03 09:38] alexfedoseev commented on #193
Link: https://github.com/css-modules/css-modules-require-hook

[2016-01-03 18:57] justin808 commented on #193
@alexfedoseev I'm not sure what's worth testing in terms of the CSS classes. In other words, I think only the flow of state and properties is worth testing for React at this level. The integration tests should test the overall flow. I think manual testing is needed to verify the look of the CSS.

[2016-01-04 13:18] adavkay commented on #188
Is this still an issue? I tested quick and it appeared to be working.

[2016-01-04 13:23] mamute commented on #188
Yes, not easy to reproduce. But i'm working on a fix to this...

Em segunda-feira, 4 de janeiro de 2016, Andy Kay <notifications@github.com>
escreveu:

--

------------------------------------
Marcus Sá
about.me/marcus_sa | marcus.m.sa@gmail.com

[2016-01-04 13:42] adavkay commented on #188
Any additional steps to reproduce worth mentioning?

[2016-01-04 15:28] mamute commented on #188
Not that I know. I only reproduce the bug on the remote server, not locally

[2016-01-04 21:09] justin808 commented on #188
@adavkay @mamute The key is that we're explicitly keeping a sorted order.

[2016-01-06 01:38] adavkay commented on #188
Hey guys I think I may have found the issue! I had a few spare moments today so I pulled the code base down and started to try and repro the issue locally with no luck. I thought it may have something to do with pushing the submitted comment into the Immutable list of comments and then merging the next fetch of comments from the server. I got nowhere with that.

Finally I was able to consistently

[2016-01-06 02:23] justin808 commented on #188
@adavkay We'd be stoked for you to submit a PR. Possibly talk to @mamute as he was also looking at this one. I invited you to our our private Slack room for easier discussions! Thanks!

[2016-01-06 02:57] justin808 commented on #188
@adavkay In general, you want to avoid default scopes.

Also, we need to clarify in the API if we send the items in chron or reverse chron order. It doesn't make sense to sort chron on the server and the reorder on the client.

[2016-01-06 03:12] adavkay commented on #188
@justin808 ok sounds good. I'll wait to hear from @mamute before I submit a PR. As for the ordering, we could send the comments in reverse chron straight from the server instead of reversing the comment list every render on the client. Just have to remember to unshift instead of push in the `SUBMIT_COMMENT_SUCCESS` case of the `commentsReducer`.

[2016-01-06 12:33] mamute commented on #188
@adavkay @justin808 I already did the changes that @adavkay mentioned. To complete the fix I only have to change one test that tests the reverse order of CommentList. I also changed the SimpleCommentScreen that insert the comment at the end of the list too. I'll submit the PR in some minutes...

[2016-01-06 12:55] mamute commented on #188
Done #194

[2016-01-08 17:00] tleish opened #196 "Production Build"
What is the process for building assets and deploying to production?  I tried rake assets:precompile and then rails s, but this didn't work.  Is foreman required is production also?

[2016-01-08 19:58] jamesmccann opened #197 "Need better docs for CSS modules and howto for static images/fonts"
Wondering if there are any good ideas and/or best practice techniques for serving images/fonts in a Rails/Webpack bundle configuration. At present I have a React app being bundled with Webpack into `assets/javascripts`. CSS Modules are being handled inline using Webpack's css-loader in modules mode, and my output bundle is deployed to `app/assets/javascripts` and served via the Asset Pipeline.

I'

[2016-01-09 08:14] justin808 commented on #197
We're doing it with CSS modules. We do plan to document this at some point. If anybody wants to submit a PR with a new file in the /docs directory, that would be great.

https://github.com/shakacode/react-webpack-rails-tutorial/blob/ca98a447aefb89f6ca86b3003e0580c0e1c39ecb/client/app/bundles/comments/components/CommentScreen/CommentScreen.jsx#L48

[code]

https://github.com/shakacode/react-webpack

[2016-01-09 10:09] justin808 commented on #196
@tleish The project deploys as-is to heroku. You can see it at http://www.reactrails.com.

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/docs%2Fheroku.md

This file is key: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/lib%2Ftasks%2Fassets.rake

[2016-01-09 10:09] #196 closed

[2016-01-09 10:10] justin808 commented on #190
@thewoolleyman Can we close this ticket? Great info...I want to keep the open tickets to only those that we're working on.

[2016-01-09 21:14] #190 closed

[2016-01-09 21:14] thewoolleyman commented on #190
definitely.

On Sat, Jan 9, 2016 at 3:10 AM, Justin Gordon <notifications@github.com>
wrote:

[2016-01-11 07:57] #188 closed

[2016-01-11 08:05] #153 closed

[2016-01-14 10:16] justin808 opened #200 "Update to Sprockets v3"
If I update to Sprockets v3, I cannot run

[code]

I get an error of a missing file.

This is not an issue with v2 of sprockets.

[2016-01-14 10:17] justin808 commented on #200
@mamute Any chance you want to take a look? @thewoolleyman, @martyphee?

[2016-01-14 11:11] mamute commented on #200
Yes! I can take a look :+1:

[2016-01-17 20:55] mchepesiuk opened #201 "NPM Install"
Following the instructions to set up the app: after 'bundle install', I run 'npm install', but the I encounter a syntax error that breaks the install - looks like this:

![screen shot 2016-01-17 at 3 54 40 pm](https://cloud.githubusercontent.com/assets/12957345/12379916/a61272bc-bd32-11e5-95a3-1c9c29f72be0.png)

Basically, I can't run the app because I can't install the appropriate npm. Please hel

[2016-01-17 22:23] justin808 commented on #201
try rm -rf /client/node_modules

and re-run npm i

[2016-01-17 22:23] #201 closed

[2016-01-18 00:23] mchepesiuk commented on #201
No that doesn't work.

[2016-01-18 00:24] justin808 commented on #201
Mac OS? Try reinstalling nvm and node 5. Create a fresh directory to git clone the repo.

[2016-01-18 00:31] mchepesiuk commented on #201
still getting a problem with the 'sleep' package

On Sun, Jan 17, 2016 at 7:24 PM, Justin Gordon <notifications@github.com>
wrote:

[2016-01-21 00:13] justin808 opened #204 "Install the https://github.com/lodash/babel-plugin-lodash"
https://github.com/lodash/babel-plugin-lodash will save some of the deploy size.

See https://github.com/shakacode/react_on_rails/issues/206

[2016-01-21 00:17] justin808 commented on #200
See https://github.com/shakacode/react_on_rails/issues/170

@mamute Any progress on this one in the past week?

[2016-01-21 00:24] #193 closed

[2016-01-21 00:26] justin808 commented on #178
Almost done: https://github.com/shakacode/react-webpack-rails-tutorial/pull/203

[2016-01-21 00:27] justin808 commented on #169
@josiasds should we have any samples of this here? Maybe @mamute can help you?

[2016-01-21 00:28] justin808 commented on #138
@josiasds can we close this issue?

[2016-01-21 00:29] justin808 commented on #120
See https://github.com/shakacode/react_on_rails/issues/212

[2016-01-21 00:29] justin808 commented on #22
@muloka Yes. Have a react-native client talking to the same Rails server.

[2016-01-21 11:38] mamute commented on #200
@justin808 not much. resuming now

[2016-01-21 13:21] josiasds commented on #138
@justin808 It looks like item 3 is still valid. `SimpleCommentScreen` is the only component that still doesn't follow the rules in the project. We have AJAX calls and HTML rendering together, and I think we should split it into a container and a view component.

I'll try to take it this weekend.

[2016-01-21 13:22] robwise commented on #178
@justin808 I like that env variable name much better. I think the check for the server running or not, while slick, might actually be a little too slick. If I want to use hot reloading, but my server isn't running, I want to get a really obvious error, not a silent fallback to static assets (or vice versa, if I specify static assets, I don't want to silently use hot reloading instead).

[2016-01-21 14:16] robwise commented on #169
@justin808 I've been discussing our JSX testing architecture with @alexfedoseev, this is actually kind of a complex issue because we are relying so heavily on webpack for our build, that when we run our tests straight from Node, we are having a lot of issues. For example, we use aliases in our webpack config to refer to the `lib` folder, we load our bootstrap overrides, we use css-modules, we use

[2016-01-21 14:17] robwise commented on #193
@justin808 @alexfedoseev I could be wrong, but I assume this test is to make sure the css-modules infrastructure itself works, but yeah it's not something we would keep writing tests for?

[2016-01-21 14:18] robwise commented on #204
That looks awesome

[2016-01-21 14:19] robwise commented on #201
@mchepesiuk it says you don't have any version of React or ReactDOM installed?

[2016-01-21 14:59] alexfedoseev commented on #193
@justin808 @robwise I updated test env setup on fng to work with CSS Modules: we can test them or just ignore them (thus other tests will run fine).

[2016-01-21 15:03] alexfedoseev commented on #169
All issues, except share styles, are solved in my current branch on fng, so unit testing setup is quite good.

@justin808 I haven't used karma a lot (just setup once to see how it works). What do you thing about integration UI testing with it?

[2016-01-21 16:35] mchepesiuk commented on #201
Geeze, haha, you're right.

Goes to show I need to read my error messages carefully!

Thanks.

On Thu, Jan 21, 2016 at 9:19 AM, Rob Wise <notifications@github.com> wrote:

[2016-01-21 17:54] justin808 commented on #193
I don't see much value in testing css in the JS tests. What would we test? Just that the class exists? I guess that's low cost and that would catch some bad CSS change (like an accidental global search/replace).

CC: @josiasds @alexfedoseev @robwise @mamute

[2016-01-21 17:56] justin808 commented on #169
I've never used Karma, @alexfedoseev. I'm not clear on why we'd need it.

[2016-01-21 17:59] justin808 commented on #178
@robwise The objectives are:

1. Ensure bundles created before starting any test. This means the webpack bundles are newer than the newest JS file. If Webpack watch is running, it's a safe bet we don't need to generate the file.
1. Minimal chance of forgetting to do #1.

[2016-01-21 18:39] justin808 commented on #201
The art of avoiding Yak Shaving:

http://forum.shakacode.com/t/avoiding-yak-shaving/465

[2016-01-21 18:50] alexfedoseev commented on #193
@justin808 We needed to set this up mainly b/c tests can't be executed without handling css imports. So it's just to make tests work, not to test css itself.

[2016-01-21 19:25] robwise commented on #178
@justin808 If tests should be running off of static bundles, if we have Webpack running in development mode, don't we still need to generate the bundles?

[2016-01-21 19:58] justin808 commented on #178
We have the https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/Procfile.spec

and this line: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/Procfile.dev#L15

Basically, the flow should be that if the developer wants to run Rails tests, then we should be running with the webpack watcher (either static dev or the spec one).

[2016-01-21 20:00] justin808 commented on #178
@robwise so yes, dev.static does generate the files. dev.hot does not!

[2016-01-22 10:09] dmitry opened #206 "Loading assets on the server-side"
Is there are any possibility to load an image and put it into the react component on the server-side?

[2016-01-23 02:57] justin808 commented on #206
@dmitry I don't understand the question. Server rendering simply generates DOM tags for react.

[2016-01-23 15:37] dmitry commented on #206
I found there are no solutions to load hashed images. For example with such webpack config:

[code]

Will generate a compressed images with a hashed postfix file names in form of `[name]-[hash].[ext]` (`image.jpg` will become `image-ac6201dc`). I found there are no solution at the moment to insert an `img` tag with newly generated file into `src`.

Can we discuss how to deal with such cases?

[2016-01-23 17:52] justin808 commented on #206
@dmitry Maybe you can build a small sample app? I'm not sure what your objective if.

[2016-01-23 17:55] dmitry commented on #206
@justin808 objective is simple: to show the image in the `img` tag from the assets path.

[2016-01-23 18:27] justin808 commented on #206
How does this differ to what are doing for background images with CSS? I.e., can you use a div with a background image?

[2016-01-23 19:17] dmitry commented on #206
CSS files are compiled with a webpack and all the images are inlined or has a prepared link to a newly generated file. Sometimes you just need to use `img` files, instead of CSS background style rule to be indexed by the search engine, or because page may be printed out.

[2016-01-24 03:39] justin808 commented on #206
@dmitry If you want the assets to be from the Rails server, then you'll have to do a bit of research on how to make this work with the asset pipeline. However, it would be simpler to just place the assets under the public directory and to use the corresponding relative path in your JS code.

I've found it best to use assets stored in Rails for CSS backgrounds, and for other, dynamic images, I load

[2016-01-24 03:39] #206 closed

[2016-01-24 03:43] justin808 opened #207 "React Demo and Simple React are broken"
![2016-01-23_19-40-31](https://cloud.githubusercontent.com/assets/1118459/12534345/4b6542f0-c209-11e5-965b-2149f736b26e.png)

React Demo and Simple React links are broken and CI passes. Nothing is rendered for those links in production.

CC: @robwise @geoffevason @yorzi @mamute @josiasds

If anybody can take a look at this, I'd super appreciate it.

This is reproducible both on heroku and locally.

[2016-01-24 03:56] justin808 opened #208 "File organization"
Considerations:

move https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/bundles/comments/store/commentsStore.js

over to the startup directory

and rename file as commentsStoreCreator.js

CC: @alexfedoseev

[2016-01-24 08:53] justin808 commented on #207
https://github.com/shakacode/react_on_rails/pull/221 fixes the issue.

[2016-01-24 15:27] robwise commented on #208
@justin808 @alexfedoseev why are we reinventing the wheel here? We have ReactOnRails specific code, it goes in the `startup` folder. Otherwise, we just do what the convention for Redux apps is: https://github.com/rackt/redux/tree/master/examples/todomvc/store

It's called `configureStore` and it goes in its own `store` folder.

[2016-01-24 23:17] justin808 commented on #208
6 of one, half dozen of other

`configureStore` is good

[2016-01-24 23:55] robwise commented on #208
:+1:

[2016-01-25 03:21] mamute commented on #207
@justin808 I've tested locally and your fix is working great, but there is another bug. No comment is been added since the CSRF token sent in the headers is incorrect. This was fixed id #209

[2016-01-27 06:01] JamesWatling opened #211 "Layout.jsx not inheriting from BaseComponent"
Hi @alexfedoseev,

I was just talking with @justin808 going over this tutorial, and we weren't quite sure if it was intentional that the `Layout.jsx` file extends `React.Component` rather than the `BaseComponent` that we defined in `lib`?

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/bundles/comments/layout/Layout.jsx#L6

Thanks, keep up the amazing work!

[2016-01-27 11:17] superplussed opened #212 "Create a simple boilerplate project"
Hello, I'm currently working on this and want to make sure it hasn't been done yet.  But I'm paring the project down to the simplest form of the "React Router Demo" so that it will be a good jumping off point for new projects.

[2016-01-27 11:23] justin808 commented on #212
@superplussed It would be more helpful if you could help us: https://github.com/shakacode/react_on_rails/labels/help%20wanted

We'd like to get this into the generator if possible. We'd have an option for --react-router.

More importantly, we'd like to get CSS module support into the generators.

[2016-01-27 11:24] #212 closed

[2016-01-27 20:13] alexfedoseev commented on #211
Hi @JamesWatling, looks like we just forgot to change this. It'd be great if you can submit PR w/ this small fix. Thanks!

[2016-01-28 07:06] #211 closed

[2016-02-08 18:32] justin808 commented on #207
Fixed a while back.

[2016-02-08 18:33] #207 closed

[2016-02-08 18:35] justin808 opened #218 "Update to v3 of React on Rails"
Any takers?

I’m looking for a volunteer to submit a PR for the update to v3 and to give me feedback on the docs. I want to get this done today. It would take me just a few minutes, but I want to get some feedback on the docs.

[2016-02-08 18:41] justin808 opened #219 "Need to try out v5 of Turbolinks"
https://rubygems.org/gems/turbolinks/versions/5.0.0.beta1

@alexfedoseev I need some advice on what is breaking in our own app with regards to Turbolinks and how we can make a simple reproduction case here.

[2016-02-08 18:42] justin808 opened #220 "Update to Rails 5"
Since Rails 5 is getting close to shipping, let's move this to Rails 5 and see what changes.

[2016-02-08 18:52] justin808 opened #221 "Make the header a React/Redux component"
By having the header be a React/Redux component and it listening to the same Redux store, we can show a message count indicator.

![2016-02-08_10-42-46](https://cloud.githubusercontent.com/assets/1118459/12895557/e517de18-ce51-11e5-9b74-53ec750fa54b.png)

[2016-02-08 21:13] aaronvb commented on #219
We'll need to update the event listeners with Turbolinks 5. ie: `page:change` to `turbolinks:render`

https://github.com/turbolinks/turbolinks/tree/docs#observing-navigation-events

After making those changes I was able to get the examples working.

[2016-02-08 22:21] justin808 commented on #219
@aaronvb It would be fabulous if you could add a PR to react_on_rails to support this!!!!

[2016-02-08 22:31] aaronvb commented on #219
@justin808 Sure thing, I'll be able to start work on this tonight. I have already switched to Turbolinks 5 (from 3) in one of my projects. I'll also need to make it backward compatible with 3.

[2016-02-10 13:25] SqueezedLight opened #225 "jquery-ujs not working"
It seems i can't get ```jquery-ujs``` to work in a fresh react on rails installation.
The following tag does not fire a confirmation window:

```<a data-confirm="Please confirm..." href="/myLink">delete</a>```

```jquery-ujs``` is loaded and prevents following the link when clicked. But the confirmation window does not show up. No errors or warning. Therefore hard for me to debug.

Can anyone else

[2016-02-10 20:04] justin808 opened #226 "Try out react-router-redux"
Something to consider:

https://github.com/rackt/react-router-redux

[2016-02-10 23:02] justin808 commented on #225
@SqueezedLight I think this more appropriate for http://forum.shakacode.com/.

Did you compare your jquery-ujs setup with the one here?

Can you create a simple test repo that shows this issue? or modify the tutorial to show this issue? I'd suggest just adding the confirm to an element.

BTW, if you're dynamically adding the anchor via JS code, and there's no page load, I think jquery-ujs might no

[2016-02-10 23:02] #225 closed

[2016-02-11 23:34] lupuszr commented on #221
@justin808 I'm interested to help on this one, but it would be great if you could explain what did you mean by the following: "not using redux, so keep same old header or add some change to make message counter update". If I understood the task correctly then one possible way to archive this is  to update the layouts/application.htm.erb to check for the routes which resolves common rails or the vi

[2016-02-12 00:20] justin808 commented on #221
@lupuszr Send me your email and I'll send you an invite to our slack room.

Basically, what I mean is this:

You have a rails layout where the header is a react/redux component.

The body might be another react/redux component, but it also might be a standard rails page.

[2016-02-12 00:21] justin808 commented on #221
@lupuszr We can use one header for the app. One issue with the tutorial is that that some of the links go to places not using redux, so you're right, just have an if statement pick the header!

[2016-02-13 02:20] aaronvb commented on #219
This file will need to be updated in the tutorial once you switch over to Turblinks 5. The react_on_rails gem will handle the rest.

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/app/assets/javascripts/rails_startup.js#L1

[code]

[code]

[2016-02-13 23:58] justin808 opened #227 "Pass in props as an object"
We're passing in an array here as "props"
https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client%2Fapp%2Fbundles%2Fcomments%2Fstore%2FcommentsStore.js#L8

But props should be

[code]

This requires updating the jBuilder.

@jbhatab knows what to do on this one.

[2016-02-14 09:24] justin808 opened #228 "need to add eslint-shakacode-config"
https://github.com/shakacode/style-guide-javascript/tree/master/packages/eslint-config-shakacode

Any volunteers?

[2016-02-14 22:06] #219 closed

[2016-02-14 22:13] justin808 commented on #220
@jbhatab @yorzi @aaronvb Any of you want to try updating to v5 Rails?

[2016-02-14 22:55] thiagoc7 commented on #220
Hi @justin808, I have two questions:
- the generator is working for you with rails 5?
for me it's not. After sometime without response, and `cmd + c`:
![image](https://cloud.githubusercontent.com/assets/6671184/13036983/efc93838-d35c-11e5-82eb-efd28b8ce6f4.png)

- don't you think that we need to integrate `action cable` on this repo? Show how to use it with react / redux. This is the main new feat

[2016-02-14 23:53] justin808 commented on #220
Can you help? We'd love to support Rails 5 ASAP!!

[2016-02-15 02:01] justin808 commented on #228
@lifeiscontent, want to try?

[2016-02-15 08:07] alexfedoseev commented on #227
:+1:

[2016-02-15 10:27] thiagoc7 commented on #220
There is a problem with spring, as on [dhh´s demo](https://medium.com/@dhh/rails-5-action-cable-demo-8bba4ccfc55e#.bm94s8xgo).
If I generate rails with `--skip-spring` it works.

I´ll try to update this repo for rails 5, and see how it works.

[2016-02-15 20:14] aaronvb commented on #220
@justin808 I'll be able to put some time into testing this with Rails 5 this week.

[2016-02-17 23:40] #228 closed

[2016-02-25 03:25] exciton opened #236 "Hot Module Reload doesn't work for reducers"
I'm using this tutorial to help set up hot module reloading in a React + Redux + Rails app I'm building.

It works fine to test changes to React components and styles, but fails when trying to make changes to reducers.
You get the following log messages:
[WDS] App hot update...
[HMR] Checking for updates on the server...
[HMR] The following modules couldn't be hot updated: (They would need a full

[2016-02-25 03:57] exciton commented on #236
Just got this working by following notes here:
https://github.com/erikras/react-redux-universal-hot-example/issues/44#issuecomment-132260397

Insert something like this where the store is created in order to replace the reducer with the hot loaded one

`if (module.hot) {
    module.hot.accept('../reducers/index', () => {
      const nextReducer = combineReducers(require('../reducers/index'));

[2016-02-25 04:07] justin808 commented on #236
@exciton So, close issue? Any PR or to-do from this info?

[2016-02-25 04:08] justin808 commented on #236
@exciton Please submit a PR and let's add this!

[2016-02-25 04:30] justin808 commented on #226
This was done a while ago.

[2016-02-25 04:30] #226 closed

[2016-02-25 04:30] justin808 commented on #220
@aaronvb Any word? Maybe give this to somebody else?

[2016-02-25 04:31] justin808 commented on #218
done a while ago.

[2016-02-25 04:31] #218 closed

[2016-02-25 04:31] justin808 commented on #204
This is being tried in #234. We should wrap this one up.

[2016-02-25 04:32] justin808 commented on #200
@mamute is this still an issues?

[2016-02-25 04:33] justin808 commented on #200
We've had Sprockets v3 for a while now.

[2016-02-25 04:33] #200 closed

[2016-02-25 04:34] exciton commented on #236
Had a few attempts to get this to work in the tutorial - but no luck yet. I have it working on my project so shouldn't be too much effort to find what the problem is.

[2016-02-25 04:34] justin808 commented on #179
@alexfedoseev should we still do this?

[2016-02-25 05:34] justin808 commented on #178
This was done!

[2016-02-25 05:34] #178 closed

[2016-02-25 05:35] justin808 commented on #138
@josiasds Can we close this one?

[2016-02-25 09:31] alexfedoseev commented on #179
@justin808 I thought pipeline handles this, no?

[2016-02-25 09:35] justin808 commented on #179
I'm pretty sure it can. I used to use the heroku deflater gem.

https://github.com/romanbsd/heroku-deflater

[2016-02-25 09:35] #179 closed

[2016-02-25 09:38] alexfedoseev commented on #179
I remember I was investigating the things I need to do to replace AP and gzip was in the list that is handled by pipeline.

[2016-02-27 08:39] justin808 commented on #204
I'm going to try to look at this over the weekend: https://github.com/shakacode/react-webpack-rails-tutorial/pull/232/files.

[2016-02-28 17:54] justin808 opened #238 "Upgrade to Bootstrap 4, including example of font-awesome-loader"
Once this gets merged: https://github.com/shakacode/bootstrap-loader/pull/56

Then we can create a branch to update from Bootstrap 3 to Bootstrap 4.

We should also show an example of using font-awesome with the [font-awesome-loader](https://github.com/shakacode/font-awesome-loader).

[2016-03-03 18:00] hisapy opened #240 "Render form with errors ala Rails with react-router"
I'm wondering how you guys do when submitting form with errors via normal HTTP POST using react-router to display components.

I have a routes.js file like the following

[code]

My problem is that when I submit a form with errors, for example the PurchaseForm, to POST /admin/purchases/ (PurchasesController#create), the controller response is to render the form view again but since the route is /a

[2016-03-06 18:41] justin808 commented on #221
See #239.

[2016-03-06 18:41] #221 closed

[2016-03-06 23:09] Igor10k opened #245 "HMR doesn't rerender components extended from BaseComponent"
I've used `foreman start -f Procfile.dev` to start the server, went to `localhost:3000`. Opened `Layout.jsx` and tried changing some text, but nothing happened in the browser even though I see in the terminal that webpack sends the `hot-update`.
Then I tried replacing `extends BaseComponent` with `extends React.Component` which basically means I made `shouldComponentUpdate` always return `true`. A

[2016-03-07 08:29] justin808 commented on #245
@Igor10k Keep me posted on what you find out. If you figure out a good change, please submit a PR.

I've tested the hot reloading and changing the the JSX in the render method, and hot reloading works great.

[2016-03-07 19:30] Igor10k commented on #245
@justin808 I made a 1-minute video showing the process and the difference when using `BaseComponent` and `React.Component` for `Layout.jsx`. I cloned the tutorial repo about 3 days ago, so it's quite fresh. I do a manual refresh in the video just once after I change `BaseComponent` to `React.Component` (and accidentally click the readme link :smiley: ).

https://dl.dropboxusercontent.com/u/2526191

[2016-03-08 05:29] justin808 commented on #245
@Igor10k We're not doing anything in particular. This sounds like a bug in the hmr.

[2016-03-08 13:06] Igor10k commented on #245
@justin808 so are you having the same behavior?

[2016-03-09 06:25] davidqhr opened #248 "Error ReferenceError: self is not defined"
I got the error when server rendering. Any help will be appreciated
[code]

[2016-03-09 08:10] justin808 commented on #248
Try turning prerendering off, then debug in the browser.

[2016-03-09 08:10] #248 closed

[2016-03-09 20:42] Igor10k commented on #245
@justin808 https://github.com/gaearon/react-transform-boilerplate/issues/123

Fixed HMR by adding `"superClasses": ["React.Component", "BaseComponent"]` to the babel config.

[2016-03-09 23:09] justin808 commented on #245
:clap: Nice job @Igor10k. Any chance that you can throw that in a document PR here: https://github.com/shakacode/react_on_rails/tree/master/docs/additional_reading

We can call the file "hot-module-replacement.md".

Thanks!

[2016-03-10 00:03] Igor10k commented on #245
I don't think that there's a need for another doc. How about just adding that `superClasses` line to the config and adding a comment above describing it. Something like "Enable rerendering of the components extended from BaseComponent" should be enough.

[2016-03-13 22:26] justin808 commented on #245
https://github.com/shakacode/react_on_rails/issues/332 discusses the issues.

[2016-03-16 01:42] marz0 commented on #245
I copied down the repo yesterday and I'm seeing the same issue. Changing the `BaseComponent` to `React.Component` fixed the problem. @Igor10k Are you saying that you added that line to your `.babelrc` file? I seem to get an error when I do that.

[2016-03-16 02:00] marz0 commented on #227
This looks to be fixed by #246 correct?

[2016-03-16 02:05] justin808 commented on #227
YES! Thanks for catching this!

[2016-03-16 02:05] #227 closed

[2016-03-16 02:05] justin808 commented on #227
@marz0 Let me know if you want a slack invite.

[2016-03-16 02:17] marz0 commented on #227
@justin808 I'd be happy to join in on slack

[2016-03-16 04:28] justin808 commented on #227
@marz0 Please email me so I have your email!

[2016-03-16 08:13] seoyoochan opened #250 "Add Redux DevTools Extension to watch redux stores"
Please add `Redux DevTools Extension` to watch redux stores.
[Redux DevTools Extension](https://github.com/zalmoxisus/redux-devtools-extension#redux-devtools-extension)
it makes debugging far easier.
you can revert/commit states of redux.

[2016-03-16 08:38] seoyoochan commented on #240
No need to write all the routes of purchases, providers.
they seem like Backend API, which is Rails routes.
I dispatch actions with `redux` and `axios` package inside a component.
this way you can redirect a user or show just errors on the current page depending on the returned response from the action.

[2016-03-16 09:21] Igor10k commented on #245
@marz0
In this case the line should be added to `webpack.client.rails.hot.config.js` like

[code]

[2016-03-16 09:24] alexfedoseev commented on #250
I suggest to use inline version of DevTools, extension's UX is poor when you use any of window managers.

[2016-03-16 09:25] Igor10k commented on #245
Btw, I decided to get rid of `BaseComponent` in favor of `pure-render-decorator` because there are also other things that depend on using the original class like `eslint-plugin-react` and I don't favor the idea of configuring every single plugin to work with `BaseComponent`.

[2016-03-16 09:29] alexfedoseev commented on #240
@hisapy why you don't want to submit form via xhr and handle response with errors in the handler?

[2016-03-16 10:46] seoyoochan commented on #250
@alexfedoseev I've used both so far, inline version works well. but when including it in `Provider`, it needs a div additionally which breaks the design of app. When I work with my designer, he didn't like it because of that, so he had to manually remove it when he works on html/css markup.

[2016-03-16 11:17] alexfedoseev commented on #250
@seoyoochan It's strange that pure div is causing such problem but I'm sure css reset or applying css class to this div will solve it.

[2016-03-16 11:28] seoyoochan commented on #250
@alexfedoseev i will give you a short example from one of my client's project. Note that I didn't use the react_on_rails gem.

The below code wraps all the components with the pure div.
as you mentioned, i guess applying class to the div can be a workaround.

[code]

[2016-03-16 12:09] hisapy commented on #240
@alexfedoseev @seoyoochan

Thx for your responses.

Many of the forms in the app were originally .html.erb before becoming React components and because of _project deadlines_ we were trying to _avoid having to rewrite_ request/response/redirect stuff and reuse the "standard" form submission.

As I mentioned before, my current solution (ie.: to update a Provider) is:

- Add explicit update route in

[2016-03-16 12:38] seoyoochan commented on #240
@hisapy in that case, maybe `getComponent`, `onEnter` , `onLeave` callbacks could be helpful.

[getComponent](https://github.com/reactjs/react-router/blob/master/docs/API.md#getcomponentlocation-callback)

[2016-03-16 12:49] hisapy commented on #240
Thx @seoyoochan  ... I didn't know about those callbacks and indeed it seems they could be helpful

[2016-03-16 15:59] atwoodjw opened #251 "Hot Reloading Not Working"
If I follow the steps in Basic Setup and run `foreman start -f Procfile.hot`, I'm not seeing changes hot-loaded; I have to refresh the page.

![recordit](http://g.recordit.co/N0M274Xbkc.gif)

[2016-03-17 02:13] justin808 commented on #251
See: https://github.com/shakacode/react_on_rails/issues/332

We might need to update some npm libraries.

[2016-03-17 02:13] justin808 commented on #251
And see #245

[2016-03-17 02:22] justin808 commented on #240
@hisapy Should we close this?

[2016-03-17 02:55] hisapy commented on #240
I'd like to see some more responses to the question but It's up to you @justin808

[2016-03-17 09:07] justin808 commented on #250
@seoyoochan @alexfedoseev Maybe we can have a couple PRs to compare?

[2016-03-17 09:09] justin808 commented on #251
@seoyoochan and I saw this. Might have something to do with the package versions.

[2016-03-17 09:09] justin808 commented on #245
@seoyoochan Maybe this contains the fix we need?

[2016-03-17 09:56] alexfedoseev commented on #250
I guess PR won't show the difference: extension implementation is easier, but its UX is pure. I can't use it with my window manager and I forced to click on the icon to see the log (just no). When it's implemented inline, it's inside the window and you can bind hot keys to control it.

[2016-03-17 11:57] seoyoochan commented on #250
Yeah the hot keys are a way to control the window. We can add the inline version then. :)

[2016-03-17 12:06] seoyoochan commented on #245
@justin808 will check if this is the fix.

[2016-03-17 18:33] samphilipd opened #252 "Source maps"
Does react_on_rails support source maps?

[2016-03-17 20:22] justin808 commented on #252
@samphilipd in what way?

Source maps are something that you configure with babel and webpack.

But you're in the right repo! Please investigate and we'd love a PR!

[2016-03-18 08:03] justin808 commented on #245
@seoyoochan Any update?

[2016-03-18 08:03] justin808 commented on #251
Please move the discussion to #245.

[2016-03-18 08:03] #251 closed

[2016-03-18 08:04] #208 closed

[2016-03-18 11:00] samphilipd commented on #252
Never mind, it seems that source maps work out of the box in Chrome - I was testing in Firefox.

[2016-03-18 15:55] seoyoochan commented on #245
@justin808 this was not related to my issue, stylesheet hrm rendering.

[2016-03-20 05:55] #252 closed

[2016-03-21 13:21] kubicek opened #256 "Use ActionCable instead of pulling"
Hello,

I tried to discuss it on gitter, but noone has responded.

I think it would be nice to use ActiveCable to get notifications about new Comments via WebSocket as push and thus periodic polling will not be necessary anymore. I have made proof-of-concept implementation and it works nice. Are you interested in pull request?

https://github.com/kubicek/react-webpack-rails-tutorial/commit/abe1e4d

[2016-03-21 17:37] justin808 commented on #256
@kubicek a PR would be AMAZING!

BUT, we need to make sure we support the non-action cable ways. So we'd add another tab to demonstrate this, along with corresponding new views and controller methods.

[2016-03-22 04:00] nguyenmv2 opened #257 "Could not find Ruby-2.2.4 when installed with rbenv"
I have ruby 2.2.4 up and running through Rbenv, but somehow it's not recognized. My guess is the rvm is setup to be the default ruby environment. How can I change this ?

![screen shot 2016-03-21 at 10 59 36 pm](https://cloud.githubusercontent.com/assets/6964615/13941733/9dbe96fa-efb8-11e5-8cc5-cb4856d31413.png)

[2016-03-22 06:27] #257 closed

[2016-03-22 22:28] justin808 commented on #256
@kubicek Send me your email and I'll send you a slack invite. Incidentally, did you have any issues with upgrading to Rails 5? Should we do this soon?

[2016-03-23 18:50] samphilipd opened #258 "Recommended way to manage CSS assets?"
Hey guys,

The project is great! Really excited to use this. I have one question - what is the recommended way to handle CSS assets?

I would ideally like to do this using bower, but not sure how to integrate that with the build pipeline in react_on_rails. It seems like bootstrap has special support, but I want to use [bourbon](http://bourbon.io/) instead.

I can include the gem... but then it won

[2016-03-24 02:54] justin808 commented on #258
@samphilipd This is probably a better discussion for http://forum.shakacode.com.

1. The **simple way** is to only use [react_on_rails](https://github.com/shakacode/react_on_rails/) for JS assets, and not CSS/images, etc. This is super simple. You use standard rails techniques.
2. The **webpack way** is to use webpack to generate assets. This project uses that technique.

I wrote up a detailed res

[2016-03-27 04:50] justin808 commented on #256
@kubicek Any word on this one? I'd like to get this one in!

[2016-03-27 04:50] justin808 commented on #250
@seoyoochan I was thinking about this today. Do you have a PR? I might take care of this soon, but if you can, that would be great.

[2016-03-27 05:38] seoyoochan commented on #250
@justin808 It is not trivial to do a PR, but I want you to decide whether we want to use either `inline version` or `extension version`.

[2016-03-27 10:59] justin808 commented on #250
@alexfedoseev I'll go with your preference.

[2016-03-28 08:59] justin808 commented on #250
@seoyoochan I took a look at using the "inline" way recommended by @alexfedoseev and that looks really good.

[2016-03-31 07:02] waterstar opened #264 "should the top level package.json combine with the one inside client folder?"
Excuse me if this is not the right forum to ask about following.
it seems to me the top level package.json has on script that is calling the one under client folder. Will it be better to combine them into one?

[2016-03-31 07:10] justin808 commented on #264
It's like that so we can use the default heroku node buildpack.

[2016-03-31 07:13] waterstar commented on #264
oic.. noted. Thanks for clarification.

[2016-03-31 07:49] #264 closed

[2016-03-31 21:03] dt1973 opened #265 "Will this get in the way of jQuery Mobile?"
Sorry but I'm new to this. My Rails app uses jQuery Mobile for a lot of stuff. Would this tutorial enhance that or replace it?

[2016-04-02 03:31] justin808 commented on #265
This question is sort of N/A. React uses a totally different conceptual model of a virtual DOM, while jQuery heavily relies on DOM manipulation.

That being said, you can use the techniques here to gradually add new screens based on React. React is *FAR SUPERIOR* to using jquery-mobile, IMHO.

You can find jquery-mobile on npm: https://www.npmjs.com/package/jquery-mobile

[2016-04-02 03:31] #265 closed

[2016-04-03 22:33] LinuCC commented on #245
This really is a one-liner with the change to `webpack.client.rails.hot.config.js` @Igor10k proposed, or a bit more (plus another babel-plugin) with the decorator.

Which of those two would you prefer, @justin808?

[2016-04-04 01:23] justin808 commented on #245
I'm going to try out the one liner chante to the config.js file and merge that if it works for me.

[2016-04-04 06:05] justin808 opened #266 "Installing therubyracer on Mac OS and Ruby 2.3.0"
If you have the below problem, the solution that worked for me on April 3, 2016 can be found here:

http://stackoverflow.com/a/36388150/1009332

[code]

Errors that this fixes:

[code]

[2016-04-04 21:47] dt1973 commented on #265
Thank you for the clarification. Have a good one!

[2016-04-04 21:52] dt1973 commented on #265
But basically it's either or? If I were to switch to React, I'd have to replace all my 50+ jQuery-based libraries?

[2016-04-04 21:59] justin808 commented on #265
You are free to use both of them, but now within the same screen area. It's common for apps to migrate gradually.

[2016-04-04 21:59] #266 closed

[2016-04-04 22:03] #245 closed

[2016-04-09 04:09] #220 closed

[2016-04-09 08:28] crysislinux commented on #250
You can install the extension to enable the extension version or fallback to the inline version.

[2016-04-10 04:40] riseshia opened #272 "Please update somethings..."
Hi, I'm shia and I just trying to follow this turorial, and found somethings.
Here it is,
 - need to add `gem "listen"` to `Gemfile`. If not, user can't run server. [link](https://github.com/rails/rails/issues/24063)
 - Default server port is not correct. it's not 3000, but 5000. Maybe only my case, but it seems not to be. Here is my environments:
[code]

And logs, maybe not helpful ;(
[code]

Tha

[2016-04-12 19:31] celsian commented on #266
Thanks for this. Saved me a headache.

[2016-04-14 04:08] brucek opened #274 "Moving index route (/) to /react gives React server checksum warning"
So I'm just trying to figure out how to move the initial route to `/react` instead of `/`.

I have a working version up & running at [https://github.com/brucek/react-webpack-rails-tutorial.git#test2](https://github.com/brucek/react-webpack-rails-tutorial/tree/test2).  Everything is good, except when I initially load the page at `http://localhost:3000/react`, my JS console gives:

[code]

so for so

[2016-04-14 04:37] brucek commented on #274
oh, this is using the dev server in case it's not clear

[2016-04-14 07:11] justin808 commented on #274
@brucek By dev server, do you mean Webpack Dev Server? I've moved away from using that as hot loading assets within the Rails app works so well.

The main issue with server rendering with React-Router is that you'll need to reference the location that's passed in the "rails_context" in the latest version of React on Rails.

[2016-04-14 08:30] brucek commented on #274
@justin808, I think that is what I'm using, as per docs:

[code]

My guess is this would be passed somehow in [`ServerRouterApp.jsx:33`](https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/bundles/comments/startup/ServerRouterApp.jsx#L33)?

I guess my confusion is because I thought `react-router` (or `react_on_rails`?) should handle this automatically, ie in [`Layout.j

[2016-04-14 17:19] justin808 commented on #274
@brucek Procfile.dev starts both port 3000 (rails) and 4000 (webpack dev server).

If you like, hack with me on this branch:

https://github.com/shakacode/react-webpack-rails-tutorial/pull/277

That shows how this is supposed to work with the Rails Context. However, I've got an issue with turbolinks. Maybe you'll spot the issue?

[2016-04-15 23:43] brucek commented on #274
@justin808 OK, so wait - should I be using a different Procfile?  Procfile.hot looks like the same Rails app with hot assets, right?

sorry, might have to have a look at https://github.com/shakacode/react-webpack-rails-tutorial/pull/277 next week, getting crunched right now though :-O

[2016-04-20 06:55] justin808 commented on #274
The Procfile.hot is a good one to use.

[2016-04-22 07:29] shunwen opened #279 "Missing right parenthesis in package.json"
https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/package.json#L18

    "build:client": "(cd client && npm run build:client --silent",

[2016-04-22 08:17] justin808 commented on #279
@shunwen Please submit a PR if you like. Or let me know and I'll fix it.

[2016-04-22 08:48] shunwen commented on #279
Created PR #280 . Thanks.

[2016-04-27 19:17] Soweyln opened #283 "error in server rendering the router app example"
in case of someone had error when running the server rendering example,
there is an error in the code
should be
[code]
https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/bundles/comments/startup/ServerRouterApp.jsx#L14

Hope it can help someone in case~

[2016-04-27 19:55] justin808 commented on #283
Interesting! Can you please submit a PR so you get credit for that find!

EXTRA credit if you can make CI fail without your fix, and pass with your fix.

[2016-04-27 20:01] #279 closed

[2016-04-27 20:02] justin808 commented on #272
@riseshia Please confirm these are now addressed (listen definitely is in the gemfile) and puma runs on port 3000: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/config%2Fpuma.rb#L12

[2016-04-27 20:02] justin808 commented on #256
@kubicek I'd definitely be interested in a PR.

[2016-04-29 22:12] ramusus commented on #258
@justin808 How to deal with [Rails assets fingerprinting](http://guides.rubyonrails.org/asset_pipeline.html#what-is-fingerprinting-and-why-should-i-care-questionmark) technique using webpack way? In tutorial you are using small image, which content is stored inside CSS file completely. If we change it to bigger image (~>10Kb), CSS file will link to the external file `image.jpg`, instead of content

[2016-04-29 23:17] ramusus commented on #258
Solved my issue with images assets very simple - just put images to public folder and fingerprinting is not worrying me.

[2016-05-06 07:58] justin808 commented on #283
Thanks @Soweyln. I'm fixing this.

[2016-05-06 08:01] justin808 commented on #283
Fixed in #286.

[2016-05-06 08:01] #283 closed

[2016-05-06 08:01] justin808 commented on #274
@brucek Any word on this one?

[2016-05-06 08:02] #272 closed

[2016-05-06 08:04] justin808 commented on #258
We're about to ship with https://github.com/shakacode/react_on_rails/pull/413.

That handles the problems of images when using webpack for CSS assets with Rails!

[2016-05-06 08:04] #258 closed

[2016-05-06 08:05] justin808 commented on #256
@kubicek please do submit a PR!

[2016-05-06 08:05] justin808 commented on #250
@alexfedoseev Let's get your recommendation meged. What do you say?

[2016-05-06 08:06] #240 closed

[2016-05-06 08:11] riseshia commented on #272
sorry, I checked late.
checked 'listen' gem in Gemfile and configuration of puma.
I will notice if I'll make another try and fail to open port 3000.
Thanks for your answer :)

[2016-05-11 05:44] brucek commented on #274
Hey, sorry - no, I've been pulled over to help fight some other fires so I'll have to get back to this once I dig myself out from that :-/  Thanks for checking in though

[2016-05-22 08:08] vmpj opened #289 "Get state in checkAuth"
Currently in `TestReactRouterRedirect` a redirect is demonstrated and the state is stubbed.

[code]
What would be the react-on-rails way to access/get state at this point? I've tried a few approaches with no success. Thanks.

[2016-05-22 19:35] justin808 commented on #289
Hi @vmpj. What sort of state are you looking for?

[2016-05-23 11:37] vmpj commented on #289
Hey @justin808, say I have a bool `isLoggedIn` stored in some redux store. I'm not exactly sure how to access it.

The solution I got working was based on [an implementation](https://github.com/joshgeller/react-redux-jwt-auth-example) using a higher-order component to wrap protected views.

[2016-06-15 14:36] abhishekbose87 commented on #238
@justin808 Hi, I wanted to take a jab at this one. Can I take this up ?

[2016-06-15 18:13] justin808 commented on #238
@abhishekbose87 Sure!

[2016-06-17 10:02] abhishekbose87 commented on #238
@justin808 I got the build to pass. Now I am trying to get the design as much as possible as the previous one.
But there are some issues which are cropping up (which I think will be fixed with the beta release)
For eg. http://stackoverflow.com/questions/33486653/stacked-collapsible-navbar-in-bootstrap-4

Please advise whether I should go ahead with custom fixes for such issues.

[2016-06-17 19:19] justin808 commented on #238
I'm open to that. Let's make a PR and I'll try it out!

[2016-06-23 21:00] justin808 opened #295 "Demo App Server Error"
From @Undistraction
With the demo app here: [http://www.reactrails.com/?](http://www.reactrails.com/? ) the following message is displayed if a name is entered but no text is entered:

If a value for text is required, this should be indicated and a more appropriate error message should be displayed as it initially appears the app is broken.

-----

I agree.

@undistraction, want to submit a PR?

[2016-07-01 15:26] daoanhnhat1995 opened #296 "Hot loader server keeps running"
Is there anyway we can terminate hot loader server after terminate rails server? A problem I ran to was that I have to kill all node process everytime I want to restart the whole server

[2016-07-01 18:21] justin808 commented on #296
I have a script like this one shown here:

https://forum.shakacode.com/t/best-way-to-clear-out-rails-development-processes/252/2?u=justin

[2016-07-01 18:21] justin808 commented on #296
[code]

[2016-07-01 18:45] daoanhnhat1995 commented on #296
awesome. Thank you!

[2016-07-01 18:45] #296 closed

[2016-07-02 17:32] milushov opened #297 "Broken link in readme file"
https://github.com/shakacode/react-webpack-rails-tutorial#js-and-css-assets

Link to `assets.rake` is broken.

[2016-07-02 18:43] justin808 commented on #297
@milushov Can you submit a PR? Thanks!

[2016-07-02 20:27] milushov commented on #297
yes, but I don't know what it should be :(

[2016-07-04 16:16] milushov opened #299 "Application not working with express server"
When application running with express server: `foreman start -f Procfile.express` (after this [fix](https://github.com/shakacode/react-webpack-rails-tutorial/pull/298/files)) I see the error --
![image](https://cloud.githubusercontent.com/assets/424326/16566243/796c67fe-421b-11e6-9365-7cc7946f535b.png)

Also, I have noticed that exactly on third call of the `commentsReducer` comments get `undefine

[2016-07-04 21:35] justin808 commented on #299
Relates to #298.

We'll try to get this addressed ASAP.

[2016-07-04 21:36] justin808 commented on #299
@milushov The best way to debug this might be to put some print statements in the https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/server-express.js file.

[2016-07-11 00:30] justin808 opened #300 "Change deployment to reactrails.com to use SSL"
We're building a react-native client (see https://github.com/shakacode/react-native-tutorial). In order to have an app on the app store, we'll need the API endpoint to point to a SSL source.

What are the options here?

CC: @dylangrafmyre

[2016-07-11 20:54] justin808 commented on #297
@milushov It's no longer needed. I updated the docs.

[2016-07-11 20:54] #297 closed

[2016-07-11 21:18] milushov commented on #297
ok, thanks

[2016-07-11 21:58] milushov opened #304 "How can I use images in my react components?"
Hello, Justin, can you suggest best way for doing this with current setup? Because files has a hash in the name for production mode.

[2016-07-11 22:00] milushov commented on #304
ow, I have found [this](https://github.com/shakacode/react-webpack-rails-tutorial/issues/197)

[2016-07-11 22:00] #304 closed

[2016-07-12 02:36] justin808 opened #305 "lost git commit sha"
https://github.com/shakacode/react-webpack-rails-tutorial/blob/66a9da7981564ba71b3556a9e13077712541b6cf/app/views/pages/_header.html.erb#L4

no longer works because I switched to the new heroku buildpacks system

Full details here:

https://github.com/sreid/heroku-buildpack-sourceversion/issues/3

The link goes to the last commit on master which is not right if the deploy on master failed or if we

[2016-07-13 20:00] aaronvb commented on #305
@justin808 I did some digging around and found that the [detect script](https://github.com/sreid/heroku-buildpack-sourceversion/blob/master/bin/detect) in the above buildpack is not correct. It needs to print to stdout.

`If the exit code is 0, the script must print a human-readable framework name to stdout` from https://devcenter.heroku.com/articles/buildpack-api#bin-detect

I found an updated ve

[2016-07-13 21:29] justin808 commented on #305
OMG! Big thanks @aaronvb!

[2016-07-13 22:12] aaronvb commented on #305
@justin808 no problem!

[2016-07-20 09:38] justin808 commented on #22
https://github.com/shakacode/react-native-tutorial

[2016-07-20 09:38] #22 closed

[2016-07-21 03:49] #305 closed

[2016-07-21 03:50] justin808 commented on #300
@dylangrafmyre Any easy (and free) way to tackle this one? Our react-native client is operational.

[2016-07-21 04:00] dylangrafmyre commented on #300
What are you using for the backend API?

On Wed, Jul 20, 2016 at 5:50 PM, Justin Gordon <notifications@github.com>
wrote:

[2016-07-21 04:02] dylangrafmyre commented on #300
If you are using the backend on Heroku, they have free SSL now:
https://devcenter.heroku.com/articles/ssl-endpoint

On Wed, Jul 20, 2016 at 6:00 PM, Dylan Grafmyre <dgrafmyre@gmail.com> wrote:

[2016-07-28 23:00] justin808 opened #309 "Update to MiniRacer"
https://github.com/shakacode/react_on_rails/issues/428

This is now the recommended server side rendering engine. We need to update ASAP.

CC: @robwise

[2016-07-29 09:55] justin808 commented on #309
@robwise says we just need to add mini_racer to the gemfile!

[2016-07-29 17:04] zph commented on #300
@justin808 Chiming in here to offer some options depending on your deployment setup:

1) If you're on a bare VPS running Ubuntu: check out LetsEncrypt's SDK. Free, legit, and autorenewed each 90 days.
2) If you're on Heroku, follow @dylangrafmyre 's lead or you can still use LetsEncrypt (https://github.com/substrakt/letsencrypt-heroku)
3) If on AWS and behind cloudfront, you can get a free cert vi

[2016-08-01 09:14] #309 closed

[2016-08-01 09:15] justin808 commented on #299
It's fixed here: #313.

However, we need to decide if we should even keep this around. Maybe we should just strip using the express server completely?

@robwise @geoffevason @jbhatab @alexfedoseev Opinions?

[2016-08-01 15:36] jbhatab commented on #299
@justin808 pretty sure we stripped this already.

[2016-08-01 19:55] justin808 commented on #299
@jbhatab I'm not talking about the new app generator. I'm talking about this repo.

[2016-08-01 20:13] jbhatab commented on #299
@justin808 I keep getting faked out by that. Yeah that'd probably be a good idea.

[2016-08-09 19:52] justin808 commented on #143
Given the overwhelming popularity of isomorphic-fetch now, and given that react-native uses "fetch", let's switch.

* https://www.npmjs.com/package/isomorphic-fetch
* https://www.npmjs.com/package/axios

We're also going to create a ReactOnRails helper that does the CSRF part.

CC: @dzirtusss

[2016-08-10 03:12] justin808 opened #314 "Convert from redux-thunk to redux-saga"
I'm looking for opinions here.

At team [ShakaCode](http://www.shakacode.com), we're using [redux-saga](http://yelouafi.github.io/redux-saga/) rather than [redux-thunk](https://github.com/gaearon/redux-thunk) for new projects.
## Options:
1. Move existing code to redux-saga, and keep a non-router version of the code using redux-thunk. Basically, one more tab.
2. Switch all the code to redux-saga.

[2016-08-10 03:12] justin808 opened #315 "Add flow annotations"
We're using [flow](https://flowtype.org/) on new projects at team [ShakaCode](http://www.shakacode.com). We should update this sample.

[2016-08-10 12:46] bhushangahire commented on #266
Thanks a lot. I tried this before but somehow v8-315 was not downloading. I think they relinked the same :)

[2016-08-11 23:41] justin808 opened #319 "Clean up extra linter configs"
We should consider if we need all the overrides in here:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/.eslintrc.yml

I'd like to have the minimum number of overrides from:

https://github.com/shakacode/style-guide-javascript/tree/master/packages/eslint-config-shakacode

And be sure that docs are current:

https://github.com/shakacode/style-guide-javascript/blob/mas

[2016-08-11 23:44] justin808 commented on #299
Fixed in #313.

[2016-08-11 23:44] #299 closed

[2016-08-11 23:47] justin808 commented on #289
@vmpj Did you solve your problem? You will want to see these for inspiration:

* https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/bundles/comments/startup/ClientRouterApp.jsx

* https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/bundles/comments/startup/ClientRouterApp.jsx

We use redux to store application state.

[2016-08-12 07:08] vmpj commented on #289
Thanks @justin808. I'll check it out.

[2016-08-12 07:33] #289 closed

[2016-08-12 08:49] justin808 commented on #295
@dzirtusss Take a look at this one.

[2016-08-12 09:02] justin808 commented on #295
We're not getting the error text: `          error={data.get('submitCommentError')}`

from `client/app/bundles/comments/components/CommentBox/CommentBox.jsx`

[code]

![2016-08-11_23-01-27](https://cloud.githubusercontent.com/assets/1118459/17617767/97365ece-6017-11e6-9bde-930c20a1d22e.png)

![2016-08-11_23-02-21](https://cloud.githubusercontent.com/assets/1118459/17617789/b99d1fc0-6017-11e6-9c18-

[2016-08-13 15:20] dzirtusss commented on #295
Its also not showing error when 1) name is blank 2) on React Router page

[2016-08-14 00:46] justin808 opened #322 "Lodash FP vs. Lodash"
The ShakaCode team is using Lodash/FP on all new projects.

Should we convert this tutorial to use lodash/fp?

Arguments for and against?

[2016-08-14 01:52] #319 closed

[2016-08-14 01:56] justin808 commented on #295
@AlexKVal has this one.

[2016-08-14 01:58] justin808 commented on #204
Closing this one for now. We'll want to check on this when we update to webpack 2.

[2016-08-14 01:58] #204 closed

[2016-08-14 02:01] justin808 commented on #184
This example shows data entry, so closing this one.

[2016-08-14 02:01] #184 closed

[2016-08-14 02:01] justin808 commented on #57
Closing for now, as this is not a priority.

[2016-08-14 02:01] #57 closed

[2016-08-14 02:02] justin808 commented on #274
@brucek is this feature request still relevant?

[2016-08-14 02:03] justin808 commented on #256
See #308

[2016-08-14 02:03] #256 closed

[2016-08-14 02:05] #138 closed

[2016-08-14 07:26] robwise commented on #204
with webpack2 it tree shakes anyway so I think you don't need to bother? Not sure tho

[2016-08-19 10:17] #295 closed

[2016-08-19 10:22] justin808 commented on #315
This might make the JS in this project too hard to read. We might want a new project:

react-on-rails-starter-kit, and that has all the advanced setup, including authentication, and a react-native client as well.

[2016-08-19 10:22] justin808 commented on #322
@robwise would this example project be better with FP? It might not matter either way.

[2016-08-19 10:23] justin808 commented on #314
Check out this tutorial I made: https://forum.shakacode.com/t/experimenting-with-generators/657

[2016-08-19 10:24] justin808 commented on #314
As of right now, Thunk is easier to understand and debug.  See #315. We should probably make a new project with thunk.

That being said, it's a great exercise to convert the 2 simple async calls to thunk in a PR.

[2016-08-20 02:04] robwise commented on #322
@justin808 I think we're only using it in like 4 places, and 3 of them are `bindAll`, so we might as well convert it over?

[2016-08-20 14:02] dzirtusss commented on #314
I'll look at this issue

[2016-08-26 09:07] justin808 commented on #314
See #325

[2016-08-26 09:08] justin808 commented on #146
This was done by @Judahmeek!

[2016-08-26 09:08] #146 closed

[2016-08-26 09:09] #274 closed

[2016-09-27 14:16] DEfusion opened #329 "Hot reloading not picking up changes to rails CSS"
I've tried making changes to both `applicaiton_non_webpack.css` and `application_static.scss` but I have to do a refresh in order for them to be picked up.

[code]

[code]

I'm not sure what I've done wrong, changes to JSX files or the related component `scss` get picked up -- but I'm not sure I want to use CSS modules in my project. Is there a way to get the main stylesheets hot reloading?

I get

[2016-09-29 19:08] Judahmeek commented on #329
Hot reloading is functionality provided by the use of the Webpack Dev Server: http://andrewhfarmer.com/understanding-hmr/

It doesn't work on code that Webpack is not watching.

[2016-10-02 22:46] yangmillstheory commented on #314
Just curious, do you all find the conceptual overhead of **redux-saga** worth it?

I've used Thunks extensively in a production application, and have had no issues or complaints.

In terms of testability, it still seems like you have to [manipulate generator internals](https://github.com/yelouafi/redux-saga/blob/master/examples/counter/test/sagas.js), which seems like a leaky abstraction.

With Th

[2016-10-03 00:17] justin808 commented on #314
@yangmillstheory You should be able to mock either the saga or thunk with jest. In terms of debugging, yes, the chrome debugger is not good inside of the generator function. You have to use print statements. I think they are both good ways.

[2016-10-14 10:38] p4sh4 commented on #322
An "against" argument coming from someone who is new to the modern JS ecosystem:

[2016-10-14 10:47] p4sh4 commented on #322
An "against" argument - this project already has a somewhat significant mental overhead for someone who is new to the modern JS ecosystem, and I believe that this kind of developer would be most attracted to `react_on_rails`. Most people are familiar with Lodash. But seeing "Lodash/FP" would require some reading of articles/docs to understand the differences and advantages (and if you're new to fu

[2016-10-24 13:28] EDeijl opened #331 "Demonstrate this in a docker container"
It would be great if this project has a Dockerfile
It is a pretty complete application that a lot of people could learn from

[2016-10-24 14:49] sub2u commented on #331
I will push the Dockerfile for this project soon.

[2016-10-24 18:41] sub2u commented on #331
Created the pull request https://github.com/shakacode/react-webpack-rails-tutorial/pull/332

[2016-10-27 15:38] dylangrafmyre opened #333 "Gem and Npm dependencies update alerts."
FYI, these alerts are being reported for this project.
https://gemnasium.com/github.com/shakacode/react-webpack-rails-tutorial/alerts

[2016-11-04 01:24] justin808 opened #335 "Update basic libraries"
Part 1 of 3 updates
https://github.com/shakacode/react-webpack-rails-tutorial/pull/334

[2016-11-04 01:24] justin808 opened #336 "Update to Webpack v2 and Yarn"

[2016-11-11 19:32] chrislerum opened #339 "Small change to readme"
Under 'Basic Demo Setup', step 11 says go to localhost:3000, but when I set this up from scratch just now, it started the rails app at localhost:5000.

[2016-11-12 03:52] justin808 commented on #339
The puma.rb file says: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/config/puma.rb#L12

Port 3000.

I think you have something overriding it.

[2016-11-12 03:52] #339 closed

[2016-12-10 19:18] #335 closed

[2016-12-10 19:19] justin808 commented on #169
@alleycat-at-git Shall we close this as we prefer the new jest, correct?

[2016-12-10 19:44] justin808 commented on #322
@p4sh4, @robwise We have a few options.

1. Separate repos.
2. Separate sub-directories with different examples in same repo.

What I like about one repo is that:

1. Can use the same Rails back end.
2. Can be published to reactrails.com

Some of the things will be "global":

1. The webpack config with hot reloading, CSS modules
2. Rails API

What will vary:

1. React-Native Client
2. Simple examp

[2016-12-11 00:12] Judahmeek commented on #169
Facebook's examples combine Enzyme and Jest for DOM testing: https://facebook.github.io/jest/docs/tutorial-react.html#content

[2016-12-11 09:09] robwise commented on #169
I don't see the benefit of Enzyme in the case of react_on_rails, we can just use Capybara for integration tests and Jest for quick sanity checks of the components' rendered HTML.

[2016-12-11 09:11] robwise commented on #322
Is option 2 the way it is now? I definitely don't like 1 because that would hurt maintainability.

[2016-12-21 22:53] jDeppen commented on #206
I was able to get `<img src={require('./images/blah.jpg')} />` working with webpack while avoiding server/client differences:
[code]
Setting `output.publicPath` in webpack.server was the key for my setup (always using HOT with dev).
[code]

[2016-12-23 14:29] Ruffeng opened #352 "I18n?!"

[2016-12-23 14:41] #352 closed

[2017-01-04 20:04] cubadomingo commented on #336
Any updates on how this is going? I'd like to possibly give it a try.

[2017-01-09 08:13] justin808 commented on #336
https://blog.shakacode.com/migration-to-webpack-2-c9803871b931#.8wdrh4ivv

[2017-01-09 08:14] justin808 commented on #336
@richa is doing this one.

[2017-01-30 06:02] justin808 commented on #336
@cubadomingo You're welcome to give this a try.

We're building a subscription "React on Rails Pro" which will include updated examples, such as using yarn and Webpack v2. If you're interested in such a service of great examples of using React on Rails and priority support from the ShakaCode team, please get in touch with me directly at justin@shakacode.com.

[2017-01-30 06:03] #329 closed

[2017-01-30 06:04] justin808 commented on #236
If anybody solves this, please post here!

[2017-02-06 23:31] mwlang opened #357 "Failed to upgrade to WebSocket error"
Just cloned the repo and got it working locally.  When I fire up the app, I'm not seeing any errors per se, but this is constantly emitting to my console.  Is this normal and expected?

    17:23:13 rails.1               |
    17:23:19 rails.1               | Started GET "/cable" for 127.0.0.1 at 2017-02-06 17:23:19 -0600
    17:23:19 rails.1               | Started GET "/cable/" [WebSocket] for 1

[2017-02-07 03:58] justin808 commented on #357
Hi @mwlang. This is not expected. I'd google around as this seems like a problem with your setup rather than React on Rails.

[2017-02-07 14:57] mwlang commented on #357
@justin808 found the problem.  For whatever reason, the Foreman script is launching the Rails app on port 5000, but the allowed origins for cable connects (3000)

allowed origin setting in config/secrets.yml:

![image](https://cloud.githubusercontent.com/assets/18387/22695632/fe77c97a-ed10-11e6-98f0-d26457ef270a.png)

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/config/sec

[2017-02-07 15:04] mwlang commented on #357
On the back of that writeup, I just realized the universal solution is a simple change to the config/secrets.yml file to reference the ENV["PORT"] setting:

[code]

[2017-02-07 19:27] justin808 commented on #357
You can also have this in your dot file:

`export PORT=3000`

[2017-02-07 19:27] #357 closed

[2017-02-14 02:19] justin808 commented on #336
@squadette would you be interested in tackling this one?

@cubadomingo did you still want to do this one?

[2017-02-14 02:20] #300 closed

[2017-02-14 17:00] creativetags opened #358 "Is Redis missing from Foreman Procfile?"
I'm just trying to get the tutorial to run on my machine to play with it. I did foreman start -f Procfile.hot then loaded http://localhost:5000/ and posted a comment. Then I saw this:

Successfully upgraded to WebSocket (REQUEST_METHOD: GET, HTTP_CONNECTION: Upgrade, HTTP_UPGRADE: websocket)
16:48:13 rails.1               | /Users/mark/.rvm/gems/ruby-2.4.0@test-react-on-rails/gems/redis-3.3.3/lib/

[2017-02-14 17:31] creativetags commented on #358
For anyone else following along you can bypass this issue in development by changing from Redis to async in config/cable.yml

[code]

[2017-02-15 03:48] justin808 opened #359 "reactrails.com is not properly reflecting live updates via action cable"
I tried in two windows, and I the update don't work at reactrails.com.

The updates do work locally the last time I tried.

Possibly there is an issue with the configuration of ActionCable in regards to a heroku deployment.

@richa Any ideas?

[2017-02-15 03:52] justin808 commented on #359
Probably need to implement steps 3 and 4.

The variable from the ENV is `REDIS_URL`. We can set that in production.

[2017-02-15 05:55] justin808 commented on #359
Fixed in #360

[2017-02-15 05:55] #359 closed

[2017-03-01 21:32] mattfordham opened #361 "Possible to use React Hot Loader?"
Hi there!

Desipte the link in the [React on Rails Doctrine](https://blog.shakacode.com/the-react-on-rails-doctrine-3c59a778c724#.q8pcumtie) to [React Hot Loader](https://github.com/gaearon/react-hot-loader), it seems this project is using the deprecated [React Transform HMR](https://github.com/gaearon/react-transform-hmr) project.

Has anyone had success implementing React Hot Loader yet and/or h

[2017-03-01 21:42] mattfordham commented on #361
FWIW, I think I figured it out a good way to do this...

[code]

This seems to work, although I havn't tested thoroughly.

[2017-03-01 22:24] justin808 commented on #361
@mattfordham Can you help me with a PR with these updates? I'd be glad to give you help!

[2017-03-01 22:29] mattfordham commented on #361
Yeah, I'd love to try! Won't me immediately, but will put on the list ;)

[2017-03-02 07:41] justin808 commented on #361
This is related: https://github.com/shakacode/react_on_rails/pull/742

[2017-03-06 09:06] justin808 commented on #336
@squadette? @cubadomingo? still interested?

[2017-03-06 09:14] justin808 commented on #336
We should do the react-router v4 migration separately.

@matk0 is going to take this on.

[2017-03-08 12:43] cubadomingo commented on #336
@justin808 sorry for the late response. I've been on vacation and head back in about a week. I'd be more than happy to tackle this.

[2017-03-08 13:08] matk0 commented on #336
@cubadomingo feel free to take this up. I have not started yet.

[2017-03-08 20:05] justin808 commented on #336
@cubadomingo That would be great. I'll put a label on this issue. To prevent blocking others, I'll give you a few days to see some progress before assigning to another. Please see the /spec/dummy directory of https://github.com/shakacode/react_on_rails for an example of the changes. See recent PRs there: https://github.com/shakacode/react_on_rails/pull/752

[2017-03-10 12:22] Judahmeek commented on #361
Also https://github.com/shakacode/react_on_rails/issues/332. I've been exploring this problem domain and I don't think `ReactOnRails.reactOnRailsPageLoaded()` is the best choice since it rerenders all registered components regardless of the scope of the hot update.

[2017-03-12 00:21] tmobaird commented on #197
I know this issue is a bit older, but this has been covered fairly well in the React on Rails docs [Rails Assets](https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/rails-assets.md) and [Using Webpack bundled assets with the Rails Asset Pipeline](https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/rails-assets-relative-paths.md). @justin808

[2017-03-12 08:02] justin808 commented on #197
@tmobaird Thanks for mentioning this. Maybe some points in the docs directory or readme here would we be great.

[2017-03-13 03:24] tmobaird commented on #197
@justin808 good idea! I will find a place somewhere in the docs and readme to put those reference points.

[2017-03-18 20:33] justin808 commented on #336
@cubadomingo Any word on this one?

[2017-03-18 20:58] justin808 commented on #361
@Judahmeek @mattfordham FWIW, the hot loader seems to work GREAT if you are not using CSS modules.

[2017-03-18 21:33] admazzola opened #362 "When I run 'cd client && npm run build:dev:client' it hangs forever"
I implemented this into my own project but now when I use Procfile.static or just run 'cd client && npm run build:dev:client' manually, this is the output:

`> webpack -w --config webpack.client.rails.build.config.js

Webpack dev build for Rails
Hash: 7226237f324ed5b56978
Version: webpack 1.14.0
Time: 5968ms
                                 Asset     Size  Chunks             Chunk Names
  f4769f9b

[2017-03-19 00:27] Judahmeek commented on #361
@justin, what about flexbox?

[2017-03-19 00:34] Judahmeek commented on #362
A google search of "webpack hanging" suggests issues with `sass-loader` and `node-sass`. Also, try using some of the [Webpack CLI options](https://webpack.github.io/docs/cli.html) to identify which chunk is causing your issues.

[2017-03-19 05:56] mnd-dsgn opened #363 "React-router not included in client/package.json"
When I follow the [basic tutorial](https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md) for setup, then try to use something imported from 'react-router' in a component, it throws an error:

[code]

Looking in `client/package.json`, I see that it's because some dependencies that you have in the [example tutorial file](https://github.com/shakacode/react-webpack-rails-tutorial/b

[2017-03-19 06:06] justin808 commented on #363
@mnd-dsgn You need to add **ALL** packages that you need, and you should use `yarn add` or `npm i --save`.

[2017-03-19 06:06] #363 closed

[2017-03-21 08:45] retroalgic commented on #361
@mattfordham
`React Hot Loader` works great with React on Rails. But you shouldn't use `ReactOnRails.reactOnRailsPageLoaded()` as at least it won't work with `Redux` out of the box. You just need something like `ReactDOM.render(element, document.getElementById(domNodeId))` in your root component. You can check out my [minimal demo here](https://github.com/retroalgic/react-on-rails-hot-minimal) for

[2017-03-21 19:56] justin808 commented on #336
Since I haven't heard from @cubadomingo, this one is now up for grabs.

Some ideas here:
* https://github.com/shakacode/react-webpack-rails-tutorial/issues/361#issuecomment-288011764
* https://github.com/retroalgic/react-on-rails-hot-minimal

And /spec/dummy from the main https://github.com/shakacode/react_on_rails.

[2017-03-21 21:41] justin808 commented on #362
Closing for now.

[2017-03-21 21:41] #362 closed

[2017-03-23 22:33] reconstructions commented on #358
Or you can just add the following to the bottom of your Procfiles: `redis: redis-server --port 6379`

[2017-03-23 22:44] reconstructions opened #364 "Eslint gives errors/nothing when run with npm and Rake"
When the 'lint' script in package.json is run with `npm run lint`, it gives 82 linting errors.

Running the `rake lint:eslint` task gives something like this:

[code]

But that's it.

Assuming that the Rake task isn't working, are these real linting errors given your "eslint-config-shakacode" package?  If so, I will fix them, let me know if it would make sense to try and fix them here.

[2017-03-24 08:19] justin808 commented on #364
@reconstructions It would be great to get the linter updated (the npm package, a PR would be great ), as well as to update this repo.

I'm looking for somebody to help me with the update to Webpack 2! https://github.com/shakacode/react-webpack-rails-tutorial/issues/336

[2017-03-24 15:22] kaizencodes commented on #336
I'll take this if no one has started it.

[2017-03-24 19:59] reconstructions commented on #364
Sounds great, I have a commit which gets Eslint to green with minimal changes to the app, I will try to make sure that is ready for a PR.  I also have a couple of months worth of small enhancements which might bolster this repo, for example setting all the ports in an .env file, 12 factor app #3 style.  Plus some extra test coverage which has made it easier for me to refactor the app.  I will star

[2017-03-24 20:37] justin808 commented on #336
@kaizencodes You got it!

[2017-03-27 15:27] #358 closed

[2017-03-29 02:33] reconstructions opened #369 "flattenChildren warning in JS console when adding second comment"
When adding a second comment (without reloading) using the new ActionCable enabled version of react-webpack-rails-tutorial, I get the following error (twice) in my browser console.  The comment is added and appears correctly in the view, but apparently the keys aren't unique, probably the count isn't incremented properly now that ActionCable has replaced REST.  Here's the error trace:

[code]

[2017-03-31 01:44] justin808 commented on #369
@reconstructions Any chance that you want to try to submit a PR to address this?

[2017-03-31 01:44] justin808 commented on #364
@reconstructions Any updat?

[2017-03-31 01:45] #333 closed

[2017-03-31 04:56] reconstructions commented on #364
Thanks @justin808, I submitted PR #368 which gets Eslint to green a couple days ago, @kaizencodes thought his #336 might also fix this, I was going to pull #336 and see how that works in a couple of my apps, I will let you know.

[2017-03-31 05:21] reconstructions commented on #369
@justin808 I will see if I can try and track it down in the next couple days, thx.

[2017-03-31 08:46] #364 closed

[2017-03-31 08:46] #336 closed

[2017-03-31 08:46] #120 closed

[2017-03-31 08:47] justin808 commented on #197
This is going to change with Webpacker. @tmobaird Let me know if you want to get involved.

[2017-03-31 14:39] tmobaird commented on #197
@justin808 I'd love to help out with this! Thanks for looping me in. Should I send a request to join the Slack team?

[2017-03-31 19:47] ceres629 opened #371 "No such file or directory @ rb_file_s_mtime - app/assets/webpack/server-bundle.js"
No such file or directory @ rb_file_s_mtime - app/assets/webpack/server-bundle.js

After installing the latest version of the project and following the readme instructions I get the above error when I run the server and visit the root url.

It occurs here:
<%= react_component('RouterApp', id: "RouterApp-react-component-0") %>

[2017-03-31 20:40] ceres629 opened #372 "Uncaught Error: Cannot find module "libs/i18n/translations""
It is looking for a file libs/i18n/translations.js but no such file exists in the repo where does this file come from?

[2017-04-01 07:08] justin808 commented on #197
@tmobaird I sent you a slack invite!

[2017-04-02 06:49] tmobaird commented on #197
@justin808 thanks!

[2017-04-02 09:18] probepark commented on #372
I have occured same issue.

[2017-04-04 06:02] justin808 commented on #372
This is built by the rake task.

See https://github.com/shakacode/react_on_rails/blob/master/docs/basics/i18n.md

[2017-04-04 06:02] #372 closed

[2017-04-04 06:18] justin808 commented on #372
See https://github.com/shakacode/react-webpack-rails-tutorial/pull/377

[2017-04-04 06:18] justin808 commented on #371
Did you start the project using `foreman start -f Procfile.dev` ?

[2017-04-05 09:16] justin808 opened #381 "Errors with switching tabs"
Obscure error:
https://facebook.github.io/react/docs/error-decoder.html?invariant=32&args[]=23

[code]

Reproduction:

1. Start app
2. Click on "Simple React" tab (or Classic Rails)
3. Click back on "React Router Demo" tab (or React Demo tab).
4. See error in console.

![2017-04-04_23-13-29](https://cloud.githubusercontent.com/assets/1118459/24698651/27046f62-198d-11e7-9767-fabb6ab2eb90.png)

[2017-04-05 09:20] justin808 opened #382 "Upgrade JS and Ruby Libraries"
I'd like to get all the JS and Ruby libraries updated.

Anybody want to help?

[2017-04-05 17:06] tmobaird commented on #382
@justin808 I can help out! Do you just want to update the gem/node module versions? or the ruby and node versions as well?

[2017-04-05 18:33] justin808 commented on #382
Let's update all. Thanks @tmobaird!

[2017-04-06 08:31] #169 closed

[2017-04-06 08:34] justin808 commented on #322
We'll stick with Lodash plain for now. Lodash/FP is going into [react-on-rails-pro](https://forum.shakacode.com/t/introducing-react-on-rails-pro-subscriptions/785).

[2017-04-06 08:34] #322 closed

[2017-04-06 08:36] robwise commented on #169
Just FYI on this, I do see some benefit where you need to test a complex interaction that is not part of a happy-path integration test. It's too costly and brittle to be checking all of that functionality in capybara. So I guess my position on this has "evolved" :)

[2017-04-06 14:37] tmobaird commented on #382
@justin808 did you want to jump to the most recent, stable versions for node (7.8.0) and ruby (2.4.1)?

[2017-04-06 21:20] justin808 commented on #382
YES!

[2017-04-07 06:20] justin808 commented on #382
Halfway done! #383!

[2017-04-07 11:11] dineshPallapa opened #384 "File uploads with React on Rails"
If someone adds File upload functionality with react on rails using gems like paperclip or carrier wave to this tutorail hope It helps a lot for beginners.

[2017-04-07 18:21] cehsu commented on #371
What port does it indicate in the message `Rails 5.0.2 application starting in development on http://0.0.0.0:XXXX` when you run `foreman start -f Procfile.hot`. Is it something besides 3000? If so, perhaps try navigating to localhost:XXXX. (This resolved a similar issue for me.)

[2017-04-08 06:04] justin808 commented on #371
I use this in my `.zshrc`

`export PORT=3000`

Forman uses that.

[2017-04-08 06:06] justin808 commented on #384
@dineshPallapa I think that's out of the scope of this project. That being said, we're doing that sort of thing for [React on Rails Pro](https://forum.shakacode.com/t/introducing-react-on-rails-pro-subscriptions/785). Message me back if that interests you.

[2017-04-08 06:06] #384 closed

[2017-04-10 04:59] tmobaird commented on #382
Currently waiting on the next release of react-bootstrap that is compatible with react v >= 15.5.0.

[2017-04-10 20:42] justin808 commented on #381
@richa Mentioned to me on Slack:

here is the culprit: https://github.com/richa/react-webpack-rails-tutorial/commit/ac9af685609047ebed461d10a2280cb35eff00d9
GitHub
removed stale App.cable code in CommentBox · richa/react-webpack-rails-tutorial@ac9af68
react-webpack-rails-tutorial - Example of integration of Rails, react, redux, using the react_on_rails gem, webpack, enabling the es7 and jsx transp

[2017-04-21 07:08] justin808 commented on #361
We need to update this repo for the current version of hot reloading.

Take a look at this issue: https://github.com/shakacode/react_on_rails/issues/772

[2017-04-22 18:56] tmobaird commented on #382
Ok, It looks like react-bootstrap has finally updated everything for react v15.5. I will continue upgrading these dependencies tomorrow!

[2017-04-24 02:17] justin808 commented on #382
@tmobaird FABULOUS!

[2017-04-24 16:13] tmobaird commented on #382
@justin808 sorry for the false alarm. It looks like react-bootstrap has a couple dependencies (react-overlays and uncontrollable) that have not been updated yet and are still using deprecated react syntax. Lets wait a couple more days on this

[2017-05-16 08:43] vsai opened #391 "client/webpack.client.rails.hot.config.js: importLoaders 1 => 0?"
In 001a3ae5, it looks like the importLoaders value for 'css-loader' was changed from 1 to 0.
Is this expected? Don't see why this should've changed.

[2017-05-25 04:17] reconstructions opened #393 "Hot Assets Server CORS 'Access-Control-Allow-Origin' Error with Webpack 2"
Sorry in advance for asking for help with a problem in my own app instead of this repo...

I merged everything since ef369ed9d922aea5116ca7e50208169fd7831389 into an app I had build on top of that commit (mostly Webpack 2 and version bumps), and it broke my hot reloading:

![commit_fail](https://cloud.githubusercontent.com/assets/5771932/26435672/be8ddd3c-40c5-11e7-96b8-fd9e05c5d23e.jpg)

My own a

[2017-05-25 05:46] alexfedoseev commented on #393
https://github.com/alexfedoseev/blog/blob/master/server.hot.js#L23

[2017-05-25 17:15] reconstructions commented on #393
I am going to go ahead and close this, then push a branch with Bootstrap styles removed that breaks the hot reloading.  I don't think this is actionable without the context.

[2017-05-25 17:15] #393 closed

[2017-06-04 00:24] justin808 commented on #391
Hey -- maybe! can use some help on getting hot reloading, etc. working!

[2017-06-05 20:15] ceres629 commented on #371
The problem was solved by indeed using `foreman start -f Procfile.dev`

[2017-06-05 20:15] #371 closed

[2017-06-08 07:25] justin808 commented on #361
See https://github.com/shakacode/react_on_rails/pull/865 for an example of what needs to be done! Any volunteers for this?

[2017-06-08 08:35] vsai commented on #391
Hey @justin808 I've taken a look at it but that didn't seem to fix it. I'm looking to see how to get webpack hot reloading working, but I'm not too experienced with node+webpack configs and had a few questions if you could help me out?

(1)
localhost:3500/webpack-dev-server (lists the files as so:)
[code]

clicking app-bundle.js / vender-bundle-[hash].js / manifest.json correctly displays the file

[2017-06-09 02:33] szyablitsky commented on #391
@vsai just remove `rails-static-client-assets` entry from `Procfile.dev`
You should have either hot assets or static ones in procfile because they both write in `manifest.json` and write different things. One process overwrites the other's version of `manifest.json`

[2017-06-09 21:19] justin808 commented on #391
@szyablitsky should this one be left open? Any todo's from this one? Docs? Code?

[2017-06-10 19:25] justin808 opened #398 "Bump Linter and Other Versions"
We need to bump [this line](https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/package.json#L108)

https://github.com/shakacode/style-guide-javascript

To v15.0.0:

[code]

Maybe bump all npm dependencies?

[2017-06-12 15:24] chunky123 opened #399 "Buildpack has gone missing?"
Not sure if I am insane, but when I checked the buildpack for the `Rails Integration` section, I realized this doesn't publicly exist anymore: https://github.com/tempoautomation/heroku-buildpack-sourceversion.git

Does anyone have a backup version or know the contents of this buildpack? I'm using this on an app right now and I want to keep the same deployment process.

[2017-06-12 18:34] jamesob commented on #399
We've recently cleared out a few forked repos which our organization no longer has any use for. The original source for the buildpack referenced by this repo's author is https://github.com/sreid/heroku-buildpack-sourceversion. I'd advise the author to update the README accordingly.

Be careful when referencing forks! The same kind of guarantees about maintenance and availability do not hold.

[2017-06-13 00:54] chunky123 commented on #399
Thanks! Using https://github.com/sreid/heroku-buildpack-sourceversion turned out great

[2017-06-13 05:55] szyablitsky commented on #391
@justin808 I do not know what is your preferred config for development.
For me, after trying react-on-rails 8 with webpacker_lite I decided to keep only two Procfiles: `Procfile.dev` (without static client, with hot reolading) and `Procfile.static` (with static client, without hot reloading).

[2017-06-13 06:17] justin808 commented on #391
@szyablitsky if you can update this repo the way we did for https://github.com/shakacode/react_on_rails spec/dummy, that would be amazing!

See: https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/hot-reloading-rails-development.md

[2017-06-15 23:16] justin808 commented on #399
@Judahmeek @udovenko @chunky123 Any chance that one of you can submit a doc PR on this? to https://github.com/shakacode/react_on_rails or here.

[2017-06-16 03:47] chunky123 commented on #399
I actually have a PR open to this repo here: https://github.com/shakacode/react-webpack-rails-tutorial/pull/400

[2017-06-20 06:17] justin808 commented on #382
@tmobaird want to try again? BTW: https://medium.com/webpack/webpack-3-official-release-15fd2dd8f07b

Let's bump Webpack as well!

[2017-06-21 05:33] tmobaird commented on #382
@justin808 definitely! I'll knock this out asap! 👍

[2017-06-24 14:59] justin808 opened #402 "Need to make mobile responsive"
We need to make this example mobile responsive.

Any takers?

[2017-06-26 14:58] saroar commented on #372
this is not wokring for me too http://prntscr.com/foccb7
  # Replace the following line to the location where you keep translation.js & default.js for use
  # by the npm packages react-intl. Be sure this directory exists!
  config.i18n_dir = Rails.root.join("client", "app", "libs", "i18n")

[2017-06-30 06:23] kidjp85 opened #403 "Need help for css modules with server rendering"
Hi Shakacode, thank you for great tutorial.

I'm facing one problem when using css-modules in server rendering.
Generated markup in server has different class name with client render markup like below
[code]

When app run in production mode, server rendered component layout is crashed until it's re-rendered again in client.

Can you give me any advice to show this issue ? Thank you

[2017-07-03 21:56] justin808 commented on #403
@kidjp85 Please create a sample reproduction case and let's investigate it.

[2017-07-03 21:56] justin808 commented on #403
@kidjp85 Is this a general question or specific to this example?

[2017-07-03 21:56] justin808 commented on #382
@tmobaird Any progress?

[2017-07-03 22:00] tmobaird commented on #382
@justin808 actually yes! Sorry this has taken so long, but react router v4 is fundamentally different from the earlier versions so it required some extra work to update the router code for both client and server side.

I should have a PR up by today or tomorrow with updates for a lot of the main JS dependencies.

[2017-07-07 14:22] dvcarter opened #404 "Basic Demo Setup instruction lists wrong local host location"
The Basic Demo Setup documentation states the following instructions:

...
14. Open a browser tab to **http://localhost:3000** for the Rails app example with HOT RELOADING
15. Try Hot Reloading steps below!
16. foreman start -f Procfile.static
17. Open a browser tab to **http://localhost:3000** for the Rails app example.
18. When you make changes, you have to refresh the browser page.

In both cas

[2017-07-09 22:33] jesskrich opened #405 "Any Instructions for Importing Images?"
I can't seem to find any. I've tried using file-loader/url-loader and does not throw me an error when I try to import, but when I try to render, I get a 404 (File Not Found). Can anyone provide some helpful resources? Been banging my head against the wall for hours.

[2017-07-10 00:37] kidjp85 commented on #403
Hi @justin808 , thank you for your response.  I have one component which I want to render in both server and client like below

`Header component`
[code]

In `ServerRegistration.js`
[code]

In `ClientRegistration.js`

[code]

And I used 2 separated webpack config to generate `server_bundle.js` and `client_bundle.js` . But the class name of components in server side and client side are different .

[2017-07-10 21:23] justin808 commented on #403
@kidjp85 How is this related to this tutorial app?

If not, please post in https://forum.shakacode.com.

If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-07-10 21:23] #403 closed

[2017-07-15 13:43] serodriguez68 opened #406 "www.reactrails.com NOT using a production build of React"
The production site is not using a production build (minified) version of react because the `build:production` script in the client/package.json file does not containt the `-p` flag for webpack. (I can tell because I'm using the react extension for Chrome).

To fix that, add the `-p` flag to the `build:production` script as shown next and re-deploy.
[code]
See [this issue](https://github.com/shaka

[2017-07-15 23:51] justin808 opened #407 "Remove application_static from docs due to Webpacker changes"
Per this search:

https://github.com/shakacode/react-webpack-rails-tutorial/search?utf8=%E2%9C%93&q=application_static&type=

This needs cleanup.

[2017-07-16 07:21] justin808 commented on #391
@vsai @szyablitsky What's next on this task?

[2017-07-16 08:46] szyablitsky commented on #391
@justin808 right now we are on tight schedule to the first beta of our project, so I can't help you with documentation fixes in near future.
I think you should close this issue and open another clearly named about patching hot reloading documentation to the current state.

[2017-07-17 07:24] justin808 commented on #404
See my response: https://github.com/shakacode/react-webpack-rails-tutorial/pull/409#issuecomment-315683620

[2017-07-17 14:05] hakongit commented on #372
I'm having a similar problem - running

`bundle exec rake react_on_rails:locale`

does not generate any files, no (error) message of any kind.

[2017-07-19 00:16] justin808 commented on #405
If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

Here's an example: https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/client/app/components/ImageExample/ImageExample.js

[2017-07-19 00:16] #405 closed

[2017-07-22 00:58] rnice01 commented on #407
Hey I'd like to help out with this if I could, seems simple enough.

[2017-07-22 01:08] justin808 commented on #407
@rnice01 Please start on this! I'll mark this taken by you, but you have only a few days to show progress. Get in touch if you want a Slack invite as well. And we need to update the docs for https://github.com/shakacode/react_on_rails.

[2017-08-01 19:38] MrJoy opened #413 "Nav-bar consistency error."
When going to https://www.reactrails.com/ and clicking `Test React Router ('/react-router')`, the navigation bar entry for `React Router Demo` remains selected.  When loading https://www.reactrails.com/react-router directly, it is not.

I'm not sure which behavior is the intended one, but the inconsistency suggests a bug.

[2017-08-06 05:39] justin808 commented on #413
@MrJoy I agree. Can you take a look and let me know what you find?

[2017-09-01 23:58] tfantina commented on #402
I'd be interested in taking a crack at it.

[2017-09-02 09:07] justin808 commented on #402
That would be awesome. I'll mark you as the owner of this. I look forward to seeing your PR.

[2017-09-02 09:07] justin808 commented on #402
@tfantina you only get 1 week to be the owner and show progress.

[2017-09-04 23:37] tfantina commented on #402
@justin808 Hey I haven't done anything with webpacker_lite, every time I try to launch the local server I get this error:
[code]
I'm not sure what sort of additional configuration is needed in the yml file, I've also installed the webpack-manifest-plugin but I'm not sure how to proceed, although I am still really interested in this and I think I can make the example responsive I don't have a lot o

[2017-09-08 13:01] tfantina commented on #402
I've been messing with this for several days and I just can't get it working.  I will continue to do so when I have more time if not for this for my own curiosity but for the time being, I'm very sorry, I don't think I'll be able to give the pull request in time.

[2017-09-09 01:13] justin808 commented on #402
@tfantina rebase on top of master...I've updated to React on Rails 9.0.

[2017-10-18 08:32] #404 closed

[2017-10-18 08:33] #399 closed

[2017-10-23 23:28] sdoxsee commented on #169
I'd like to use Jest & Enzyme with react on rails. I see the tutorial currently uses mocha. I'm pretty new to react on rails, react, babel, and webpack2 but I've had trouble figuring out how to get Jest & Enzyme recognizing ES6 with react on rails setup (I realize it's probably not related to react on rails specifics...but still would love to see an example if there was one). Is there an example t

[2017-10-24 06:43] justin808 commented on #169
@sdoxsee RoR v10 does not require Rails v5.

[2017-10-24 13:39] sdoxsee commented on #169
@justin808 my bad assumption on Rails v5. I think it's more the dependency tree ripples in our project from using the new webpacker. Thanks

[2017-11-01 17:33] bennyn commented on #236
Here is an example on how to integrate HMR for reducers: https://github.com/welovecoding/website/pull/62

It needs [react-hot-loader](https://www.npmjs.com/package/react-hot-loader).

[2017-11-02 22:35] alfredvaa opened #422 "CORS issue when using hot reload"
Starting a fresh clone of the project, with `foreman start -f Procfile.hot` gives me this in the Chrome console.

`The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is 'include'. Origin 'http://localhost:3000' is therefore not allowed access. The credentials mode of requests initiated by the XMLHttpRequest is cont

[2017-11-03 01:43] justin808 commented on #422
@alfredvaa Are you sure this is 100% vanilla from a git clone? We're not seeing this in our CI setup.

[2017-11-03 01:43] justin808 commented on #413
If anybody sees this issue, it's a great way to try adding a contribution to this project.

[2017-11-21 15:26] reconstructions commented on #422
I tried to fix this in my last PR with no success.  The errors are caused by whatever broke hot module replacement with Webpack 2.  The full error for me is:

[code]

[code]

[code]

With the last error there is a stack trace from the Webpack Dev Server disconnect.

It looks like this is a CORS problem which is preventing the port 5000 Rails server from loading from the port 3035 webpack-dev-serve

[2017-11-21 15:48] reconstructions commented on #402
@justin808, I built a responsive app on top of a forked version of this tutorial.  It has gotten a little behind this repo, it isn't using Webpacker yet, and I have been waiting to update it, hoping to hold onto hot reloading : ).

It uses flexbox and media queries, with some site-wide SCSS mixins handling the responsiveness to keep things dry.  It wasn't easy to build, since I had to remove Boots

[2017-11-21 18:29] reconstructions commented on #422
Here is a recent webpack-dev-server issue [#793](https://github.com/webpack/webpack-dev-server/issues/793) that seems to describe this problem.

Some of the comments suggested that this was only showing up as an error on OS X.  I am on OS X only, so I couldn't test this.

@alfredvaa and @justin808, I would be interested to know if we are all on OS X, or if non-OS X `react_on_rails` users have work

[2017-11-21 18:33] reconstructions commented on #422
Here is the webpack-dev-server stacktrace from when it disconnects:

[code]

[2017-11-22 03:11] justin808 commented on #402
@reconstructions I'm open to considering this!

[2017-11-22 03:19] justin808 commented on #402
@reconstructions Please send me an email justin@shakacode.com.

[2017-11-23 20:06] alfredvaa commented on #422
@reconstructions I am also on OSX, 10.12.6 if it matters.

[2017-11-27 17:51] reconstructions commented on #398
@justin808, you can assign me this one if it helps, this introduces about about 29 linting errors, and I am working on fixing them now.

[2017-11-27 22:10] reconstructions commented on #398
I bumped `eslint-config-shakacode` to version `16.0.0-rc.3` and tried some different approaches to fixing the various errors.  A few fixes were straight-forward, I am not sure about the rest.

I already have a PR waiting for review, so I will sit on this one for now, let me know if it would prefer that I push this stuff into a new commit in the existing PR, or discuss details here first.

[2017-11-28 00:39] #406 closed

[2017-11-28 00:39] justin808 commented on #406
Was fixed a long time ago.

[2017-11-28 00:43] justin808 commented on #398
Please push to a new commit, @reconstructions. I just merged your other change.

[2017-12-03 18:54] seanpaulkelley commented on #422
I am having this error too and the webpack [fixes](https://github.com/webpack/webpack-dev-server/issues/793) don't work for me.  I am running linux

[2017-12-12 03:55] ttanimichi opened #428 "the file extension of `config.server_bundle_js_file` should be ignored"
Even if we have a pack file that has `.jsx` file extension like `app/javascript/packs/app.jsx`, webpacker compile it to a `.js` file like `public/packs/app-6c71877ae5cf6273d047.js`.

So, if we specify `config.server_bundle_js_file` like

[code]

We get an Error like

[code]

We probably should ignore the file extension of `config.server_bundle_js_file`, because the only file extention we can speci

[2017-12-12 03:57] #428 closed

[2017-12-13 22:42] reconstructions opened #429 "Heroku deployment fails with rake task error starting in commit #421"
Starting in commit #421, webpack asset precompilation fails with the following error when pushing to Heroku:

[code]
I get the same error pushing commits #424, #425, and #426.  Commits #416  and earlier push with no problem.

I will try to figure out what the breaking change was.

[2017-12-14 03:13] reconstructions commented on #429
Looks like this becomes an issue when using node v8 or above.  If I change commit #416 to use the engine specs from the #421 [package.json](https://github.com/shakacode/react-webpack-rails-tutorial/blob/78466fb3ede9bd9da8d0c8c96e98e8c721eadebc/package.json), it fails this way when pushing to Heroku.

[2017-12-15 05:02] reconstructions commented on #429
If anyone needs a quick fix for this one, you can rollback the Gemfile, Gemfile.lock, package.json, client/package.json, and client/.babelrc files to the commit #416 versions:

[code]

Then delete yarn.lock, run `yarn postinstall`, and push to Heroku.  This also works if you bump the version of `react_on_rails` from 9 (used in #416) to 10.0.2.

[2017-12-15 05:44] reconstructions commented on #429
I have this fixed in a patch which rolls node, npm, and yarn back to the #416 values in package.json:
[code]
There are lots of other small changes required to get this to work, but the result is functionally equivalent to commit #426.

[2017-12-24 06:54] reconstructions commented on #429
I made a PR which fixes pushing to Heroku by rolling Yarn back to version 0.22.0.  The only other lines which need to be rolled back to #416 are bits of syntax in the client/package.json scripts.

There are a bunch of issues with proposed solutions to similar errors, but it looks like they could have different causes and none of the proposed solutions worked here.  It is also unclear whether this

[2018-02-08 19:57] m5rk commented on #197
Is there any guide for how to use CSS Modules with React on Rails?

[2018-02-19 18:36] starpause opened #434 "Issue going through setup steps"
I get to `13. foreman start -f Procfile.hot` and when I open my web browser, get an error `Webpacker::Manifest::MissingEntryError in Pages#index`. On the terminal I get the following:

[code]

I belive I followed all of the steps and if I skip ahead to `foreman start -f Procfile.static` that works fine. Thanks for any direction!

[2018-02-19 19:17] starpause commented on #434
Marking as closed, it occured to me that I'd downloaded the example as a zip and not cloned it (the published url wasn't working, so I now instead grabbed the clone url from the green button in github). Now that I've cloned the project webpack is working correctly. Thanks!

[2018-02-19 19:17] #434 closed

[2018-08-08 00:10] koansang opened #441 "Not install client/package.json when deploying Heroku"
I want deploy heroky. but not installed dependency in client/package.json.
This my code:

**clent/package.json**
[code]
**react_on_rails.rb**
[code]
**Error message**
[code]

[2018-08-09 17:34] justin808 commented on #441
@koansang focus on the error message.

If you need personal debugging help, let me know.

[2018-08-09 17:34] #441 closed

[2018-08-09 17:56] justin808 opened #442 "Add example of bucklescript to this tutorial"
See https://github.com/shakacode/bs-react-on-rails

I'd like to see another tab that shows [Reason ML](https://reasonml.github.io/)

![image](https://user-images.githubusercontent.com/1118459/43916592-b2036308-9ba9-11e8-9ff1-e165a187db91.png)

[2018-08-09 17:57] #398 closed

[2018-08-09 17:57] #429 closed

[2018-08-09 18:00] justin808 opened #443 "Update webpack and other JS and make hot reloading work"
We should update the JS packages to the latest and get hot reloading working again.

[2018-08-09 18:00] justin808 commented on #422
Moving this to a new issue, #443.

[2018-08-09 18:00] #422 closed

[2018-08-09 18:01] justin808 commented on #382
@tmobaird, check out #443. We're also in the process of hiring right now, if you know anybody looking. Anybody interested can [email me](mailto:justin@shakacode.com).

[2018-08-09 18:01] #382 closed

[2018-08-09 18:04] justin808 commented on #413
@bluemihai did you want to submit a PR?

[2018-08-09 18:05] justin808 commented on #361
Take a look at #443. Any volunteers?

[2018-08-09 18:05] #361 closed

[2018-08-09 18:07] justin808 commented on #331
This one almost made it to the finish line. It does need updating. Any takers?

[2018-08-09 18:08] #391 closed

[2018-08-09 18:08] justin808 commented on #391
Closing b/c the issue is stale.

[2018-08-09 18:09] justin808 commented on #314
This one should have gotten merged. Any takers that want to create an updated PR with this?

[2018-08-09 18:10] #250 closed

[2018-08-09 18:11] justin808 commented on #238
Let's get this updated, now that https://github.com/shakacode/bootstrap-loader is updated.

[2018-08-09 18:12] justin808 commented on #197
@m5rk CSS modules are not specific to React on Rails. Let me know if you have any other questions.

[2018-08-09 18:12] #197 closed

[2018-08-09 18:13] justin808 commented on #236
We need to get the project updated for hot reloading. See #443.

[2018-08-09 18:13] #236 closed

[2018-08-09 18:14] #143 closed

[2018-08-09 18:27] justin808 opened #444 "Migrate JS tests to Jest"
We're now using Jest for rather than mocha.

[2018-08-26 18:55] ramrudra commented on #407
@justin808 I'll pick this up

[2018-08-26 20:17] ramrudra commented on #413
@justin808 What is the intended behaviour here?

**Current:**
Test React Router ('/react-router'), the navigation bar entry for React Router Demo remains selected.

Is this the intended behaviour?
 **React Router Demo** menu item should be active when visiting '/react-router'

[2018-08-27 02:41] justin808 commented on #413
@ramrudra

* when you click the link for the home page (/) and then go to click the link for Test React Router ('/react-router'), you see the highlight of react-router stays
* but not if you go to the second directly, say from a bookmark

[2018-08-27 06:26] singhvaibhavram commented on #407
@justin808 I would like to take this.

[2018-08-27 07:19] justin808 commented on #407
@singhvaibhavram Sure. If we can get proper HMR working as well, that would be great.

[2018-08-27 07:26] ramrudra commented on #407
@justin808 @singhvaibhavram  PR #446 is for this specific issue.

[2018-08-27 07:26] singhvaibhavram commented on #407
Yup. Will try that too. Give me a day to get me acquainted with the project
and then will do that.!!

On Mon, Aug 27, 2018, 12:49 PM Justin Gordon <notifications@github.com>
wrote:

[2018-08-27 10:49] singhvaibhavram commented on #407
@ramrudra can you msg me on slack? I have to ask you something regarding the pull request you made.
slack email: vaibhavnarayansingh147@gmail.com

[2018-08-27 10:59] singhvaibhavram commented on #407
@justin808 I have messaged you on slack for some doubts.

[2018-08-27 14:34] ramrudra commented on #407
@singhvaibhavram Sure.

@justin808 Could you please send me a slack invite on ramrudra.p@gmail.com

[2018-08-27 22:03] adamjgrant commented on #266
Worked for me as well although I had to change the `gem install` line to

`gem install therubyracer -- --with-v8-dir=/usr/local/opt/v8@3.15`

Thanks!

[2018-11-27 06:01] devender11bhatt opened #451 "No such file or directory @ rb_file_s_mtime - app/assets/webpack/webpack-bundle.js"

[2018-12-11 23:52] justin808 commented on #451
There's no description of how to reproduce this.

[2018-12-11 23:52] #451 closed

[2018-12-23 21:54] webdevstar commented on #444
I will solve this

[2018-12-23 23:47] justin808 commented on #444
@webdevstar This was already done. See above. I forgot to close this.

I'd really like to see this one done:

https://github.com/shakacode/react-webpack-rails-tutorial/issues/443

[2018-12-23 23:47] #444 closed

[2019-01-04 14:09] coderhs commented on #442
I will give it a shot. Just letting you know that I am working on it.

[2019-01-11 02:39] justin808 commented on #442
@coderhs Any update?

[2019-01-15 02:44] waclock commented on #443
Couldn't this be fixed by just adding
`'Access-Control-Allow-Origin': '*'` wherever the client does the polling and requests for the reloaded asset? I'm not sure where this is in react_on_rails, but it's what they suggest here https://github.com/webpack/webpack-dev-server/blob/master/examples/api/simple/server.js

[2019-01-16 16:24] waclock commented on #443
@justin808 please let me know if this is the case. I've got a project with everything working I believe, the only thing missing is that the client is not sending the CORS params in order to refresh the assets. It'd be great if I could help with this, however I don't know what I should edit in the react_on_rails library

[2019-01-28 14:10] waclock commented on #443
@justin808 I'm working on a custom project based on this project. I've updated all the libraries and the only thing I'm currently missing is the CORS which is not working I believe. Maybe if you could pinpoint to where I should update this on the react_on_rails gem, I can make a PR when I get everything working

[2019-01-29 05:40] KenyStev commented on #443
I'll take a look on it to figure out

[2019-02-05 23:08] justin808 commented on #443
@KenyStev @waclock  Any update?

[2019-02-05 23:14] KenyStev commented on #443
I still can't figure out what's the problem when I update actioncable, It's the error window is undefined.
I know it is because server side render, but it was working before the update.
I will let actioncable outdated for the moment and continue with the others

[2019-02-06 03:09] andrisole92 opened #455 "SCSS will not compile."
Followed the tutorial on installation, created `HelloWorld.scss` in `HelloWorld/components`.

Have `import css from './HelloWorld.scss'. It will not work and `console.log(css)` gives an empty object. File's not empty 100%.

Does anyone have a solution?

[2019-02-14 20:22] waclock commented on #443
@justin808 I have looked into this further, but sadly with no luck. I was trying to get `WDS`to connect but I keep getting `[WDS] Disconnected!` as the error. I've tried playing around with the setup of server-rails-hot.js, like so:

[code]
But still no luck. Also tried updating the webpacker.yml configuration, changing the "host" from localhost to 0.0.0.0, as now webpack is not resolving to 0.0.0

[2019-02-15 18:36] justin808 commented on #443
If anybody would like to pair on this a bit, I'm available. Please [email me](mailto:contact@shakacode.com) and I'll send you a Slack invite.

[2019-02-15 18:40] waclock commented on #443
Sure thing, I'll email you.

[2019-02-19 17:09] thetonyrom commented on #331
I'll handle it.

[2019-02-20 11:51] mradeybee commented on #402
I m willing to take this on!

[2019-02-20 20:55] mdiaz00147 commented on #413
@justin808 I'd like to try on this one. May I? I'm applying for upwork position as well thx

[2019-02-21 09:47] tahsin352 commented on #413
@justin808 in react router 4, first, need to import withRouter like: import {withRouter} from 'react-router-dom';  then we can get the current path this.props.location.pathname

we can match it and then add 'active' class to respective menu item. thx.

[2019-02-21 16:39] thetonyrom commented on #331
Hi @justin808 . I've just submitted an initial dockerized version, have a look.

[2019-02-21 22:25] justin808 commented on #413
Please link to a PR if you want to suggest some fix.

I'm more eager to get the webpack configuration updated and make a sensible configuration for hot reloading.

[2019-02-22 13:33] Sirbuland commented on #442
Hi @justin808 !
I would like to grabbing this issue.

[2019-02-22 13:47] Sirbuland commented on #442
@justin808 added a new tab. Please provide me permissions to push changes. Thanks!

<img width="1280" alt="screenshot 2019-02-22 at 6 45 15 pm" src="https://user-images.githubusercontent.com/23502541/53246354-46c72880-36d2-11e9-80a7-ffa0aba66dff.png">

[2019-02-22 14:17] Sirbuland commented on #413
@justin808
Looks like it is working fine.

<img width="1278" alt="screenshot 2019-02-22 at 7 10 30 pm" src="https://user-images.githubusercontent.com/23502541/53247993-7a0bb680-36d6-11e9-8511-745ed06373ec.png">

[2019-02-23 11:24] tahsin352 commented on #413
@justin808 sorry, i might be wrong, but it i guess it is problem with routing, it has nothing with hot-reloading, coz, hot-reloading is a solution to display any update made to any component on the page. but here we are fixing the routing issue. we can use NavLink from react-dom-router. you can see this example for reference : https://codeburst.io/getting-started-with-react-router-5c978f70df91 . i

[2019-02-26 05:50] justin808 commented on #442
@Sirbuland just push a PR.